templates/[REF]고객 인터뷰 분석 워크플로우.yml
app:
  description: '입력이 음성인지 문서인지 자동 판별하여 각각 STT 또는 텍스트 추출 후 동일한 분석 결과로 통합하는 워크플로우입니다.
    같은 내용이 녹음 또는 문서로 들어올 수 있어 둘 다 처리해야 할 때 선택하세요. 유사 케이스: 회의 녹음 또는 회의록 분석, 인터뷰 음성
    또는 스크립트 분석, 강의 녹음 또는 교안 분석'
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: '[REF]고객 인터뷰 분석 워크플로우'
  use_icon_as_answer_icon: false
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: code
      id: 1711708591503-source-1768285138918_3_7c55enf5n-target
      selected: false
      source: '1711708591503'
      sourceHandle: source
      target: 1768285138918_3_7c55enf5n
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: code
        targetType: if-else
      id: 1768285138918_3_7c55enf5n-source-1768285979188_1_qdai451ne-target
      selected: false
      source: 1768285138918_3_7c55enf5n
      sourceHandle: source
      target: 1768285979188_1_qdai451ne
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: if-else
        targetType: document-extractor
      id: 1768285979188_1_qdai451ne-true-1768286082775_3_xcgypz9z5-target
      selected: false
      source: 1768285979188_1_qdai451ne
      sourceHandle: 'true'
      target: 1768286082775_3_xcgypz9z5
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: if-else
        targetType: tool
      id: 1768285979188_1_qdai451ne-058f0de6-a0fe-4a55-8ac5-051d59b9f427-1768286147271_5_mvycbtfc2-target
      selected: false
      source: 1768285979188_1_qdai451ne
      sourceHandle: 058f0de6-a0fe-4a55-8ac5-051d59b9f427
      target: 1768286147271_5_mvycbtfc2
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: document-extractor
        targetType: llm
      id: 1768286082775_3_xcgypz9z5-source-1768288983397_1_bl21hsvfh-target
      selected: false
      source: 1768286082775_3_xcgypz9z5
      sourceHandle: source
      target: 1768288983397_1_bl21hsvfh
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: tool
        targetType: llm
      id: 1768286147271_5_mvycbtfc2-source-1768289444194_7_obo56cyeg-target
      selected: false
      source: 1768286147271_5_mvycbtfc2
      sourceHandle: source
      target: 1768289444194_7_obo56cyeg
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: llm
        targetType: end
      id: 1768288983397_1_bl21hsvfh-source-1768285057490_2_5zvccs93t-target
      selected: false
      source: 1768288983397_1_bl21hsvfh
      sourceHandle: source
      target: 1768285057490_2_5zvccs93t
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: llm
        targetType: end
      id: 1768289444194_7_obo56cyeg-source-1768289452680_8_f9bh3qukz-target
      selected: false
      source: 1768289444194_7_obo56cyeg
      sourceHandle: source
      target: 1768289452680_8_f9bh3qukz
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        _connectedSourceHandleIds:
        - source
        _connectedTargetHandleIds: []
        _inParallelHovering: false
        _isEntering: false
        _runningStatus: none
        _waitingRun: false
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          - audio
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: interview_file
          max_length: 1
          options: []
          required: true
          type: file
          variable: interview_file
        - allowed_file_extensions: []
          allowed_file_types:
          - image
          - document
          - audio
          - video
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: participant_count
          max_length: 100
          options: []
          required: true
          type: number
          variable: participant_count
      id: '1711708591503'
      position:
        x: -446.2475283133478
        y: 3024.5809875085884
      type: custom
      zIndex: 1005
    - data:
        _connectedSourceHandleIds: []
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _runningStatus: none
        _showAddVariablePopup: true
        _waitingRun: false
        desc: ''
        outputs:
        - value_selector:
          - 1768288983397_1_bl21hsvfh
          - text
          variable: result
        selected: false
        title: 종료 (document)
        type: end
      id: 1768285057490_2_5zvccs93t
      position:
        x: 1408.4967403039113
        y: 2993.9126092967904
      type: custom
      zIndex: 1005
    - data:
        _connectedSourceHandleIds:
        - source
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isCandidate: false
        _isEntering: false
        _runningStatus: none
        _showAddVariablePopup: false
        _waitingRun: false
        code: "import os\n\ndef main(filename):\n    # 1. 확장자 리스트 정의 (set 자료형이 검색\
          \ 속도가 빠름)\n    doc_exts = {\n        'txt', 'md', 'mdx', 'markdown', 'pdf',\
          \ 'html', 'xlsx', 'xls', 'docx', \n        'csv', 'eml', 'msg', 'pptx',\
          \ 'ppt', 'xml', 'epub'\n    }\n    \n    audio_exts = {\n        'mp3',\
          \ 'm4a', 'wav', 'webm', 'amr', 'mpga', 'aac'\n    }\n    \n    # 2. 파일명에서\
          \ 확장자 추출\n    # os.path.splitext(\"file.csv\") -> (\"file\", \".csv\")\n\
          \    _, ext = os.path.splitext(filename)\n    \n    # 점(.)을 떼고 소문자로 변환\n\
          \    clean_ext = ext.lstrip('.').lower()\n    \n    # 3. 타입 결정\n    result_type\
          \ = \"unknown\" # 목록에 없을 경우 기본값\n    \n    if clean_ext in doc_exts:\n \
          \       result_type = \"document\"\n    elif clean_ext in audio_exts:\n\
          \        result_type = \"audio\"\n        \n    # 4. 결과 반환\n    return {\n\
          \        \"result\": result_type\n    }"
        code_language: python3
        desc: document와 audio 파일을 분류합니다.
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 파일 타입 분류
        type: code
        variables:
        - value_selector:
          - '1711708591503'
          - interview_file
          - name
          variable: filename
      id: 1768285138918_3_7c55enf5n
      position:
        x: -62.63070570817121
        y: 3050.398912706829
      type: custom
      zIndex: 1005
    - data:
        _connectedSourceHandleIds:
        - 'true'
        - 058f0de6-a0fe-4a55-8ac5-051d59b9f427
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _runningBranchId: 'true'
        _runningStatus: none
        _showAddVariablePopup: true
        _targetBranches:
        - id: 'true'
          name: CASE 1
        - id: 058f0de6-a0fe-4a55-8ac5-051d59b9f427
          name: CASE 2
        - id: 'false'
          name: ELSE
        _waitingRun: false
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: ea2607f3-c086-4113-b999-ad623ab2b3a8
            value: document
            varType: string
            variable_selector:
            - 1768285138918_3_7c55enf5n
            - result
          logical_operator: and
        - case_id: 058f0de6-a0fe-4a55-8ac5-051d59b9f427
          conditions:
          - comparison_operator: contains
            id: d6f05799-a901-4364-86e2-a81f86969fed
            value: audio
            varType: string
            variable_selector:
            - 1768285138918_3_7c55enf5n
            - result
          id: 058f0de6-a0fe-4a55-8ac5-051d59b9f427
          logical_operator: and
        desc: ''
        selected: false
        title: 조건
        type: if-else
      id: 1768285979188_1_qdai451ne
      position:
        x: 318.2415400604532
        y: 2917.5328407187653
      type: custom
      zIndex: 1005
    - data:
        _connectedSourceHandleIds:
        - source
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _runningStatus: none
        _showAddVariablePopup: true
        _waitingRun: false
        desc: ''
        is_array_file: false
        selected: false
        title: 문서 추출기
        type: document-extractor
        variable_selector:
        - '1711708591503'
        - interview_file
      id: 1768286082775_3_xcgypz9z5
      position:
        x: 666.8999537104471
        y: 2978.7391453459963
      type: custom
      zIndex: 1005
    - data:
        _connectedSourceHandleIds:
        - source
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _showAddVariablePopup: true
        _waitingRun: true
        desc: ''
        provider_id: daglo
        provider_name: daglo
        provider_type: builtin
        selected: false
        title: 다글로 Speech To Text
        tool_configurations:
          language: ko-KR
          model: general
        tool_label: 다글로 Speech To Text
        tool_name: daglo_stt
        tool_parameters:
          audio_file:
            type: variable
            value:
            - '1711708591503'
            - interview_file
          speaker_count_hint:
            type: mixed
            value: '{{#1711708591503.participant_count#}}'
          speaker_diarization_enable:
            type: constant
            value: true
        type: tool
      id: 1768286147271_5_mvycbtfc2
      position:
        x: 672.9202459688634
        y: 3091.7154710445116
      type: custom
      zIndex: 1005
    - data:
        _connectedSourceHandleIds:
        - source
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _runningStatus: none
        _showAddVariablePopup: true
        _waitingRun: false
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            max_tokens: 4096
            temperature: 0.7
          mode: chat
          name: us.anthropic.claude-sonnet-4-5-20250929-v1:0
          provider: bedrock
          registered_provider_id: 0a425836-2cdf-4f8d-98cf-0ef6d3779670
        prompt_template:
        - role: system
          text: '# Role Definition

            당신은 10년 이상의 경력을 가진 **수석 UX 리서처(Lead UX Researcher)**이자 **데이터 기반 비즈니스 전략가**입니다.
            당신은 사용자의 발언 이면에 숨겨진 의도(Intent)와 멘탈 모델(Mental Model)을 파악하는 데 탁월합니다.


            # Task

            제공된 [인터뷰 스크립트]를 분석하여 제품팀과 경영진이 의사결정에 즉시 활용할 수 있는 **''Actionable Insight
            Report''**를 작성하십시오.


            # Analysis Guidelines

            1. **증거 기반:** 모든 분석은 스크립트 내의 발언이나 행동에 근거해야 합니다. 추론인 경우 반드시 ''(추론)''이라고
            명시하십시오.

            2. **비즈니스 맥락:** 단순한 사용성 문제를 넘어, 이것이 비즈니스(매출, 이탈률, 브랜드 이미지)에 미칠 영향을 고려하십시오.

            3. **구조화:** 아래 지정된 [Output Schema]를 엄격히 준수하십시오.


            # Output Schema (7 Sections)


            ## 1. 인터뷰 기본 정보 (Session Info)

            *형식: 표(Table)*

            - **일시:** (추정 가능 시 기입, 불가능 시 ''N/A'')

            - **방식:** (대면/화상/서면 등)

            - **주제:** (인터뷰의 핵심 목적)

            - **참여자:** (진행자 및 서기)


            ## 2. 인터뷰이 프로필 (Interviewee Profile)

            *형식: 표(Table)*

            인구통계학적 정보 외에 사용자의 **''페르소나(Persona)''**를 정의하십시오.

            - **기본 정보:** 나이/직업/거주지 등

            - **사용 숙련도:** (Newbie / Intermediate / Expert)

            - **라이프스타일 맥락:** 제품 사용에 영향을 미치는 환경적/상황적 요인


            ## 3. 데이터 신뢰도 평가 (Data Reliability)

            *형식: 표(Table) | 점수: 5점 만점*

            - **구체성:** 답변이 상세한 경험에 기반하는가?

            - **솔직함:** 사회적 바람직성 편향(Social Desirability Bias) 없이 솔직한가?

            - **일관성:** 인터뷰 내에서 모순된 진술은 없는가?

            - **총평:** 이 데이터를 의사결정에 활용할 수 있는가? (Go / No-Go)


            ## 4. 핵심 인사이트 (Key Strategic Takeaways)

            *형식: 번호 매기기 (Insight - Evidence - Implication 구조)*

            단순 요약이 아닌, **''현상(What)'' -> ''원인(Why)'' -> ''전략적 제언(So What)''**의 구조로
            3~5가지를 도출하십시오.

            - 예: "가격 민감도가 높음" (X) -> "가격 자체보다 ''가성비에 대한 확신'' 부족이 결제를 막고 있음. 따라서 가격
            비교 기능보다 ''혜택 시각화''가 우선되어야 함." (O)


            ## 5. 페인포인트 심층 분석 (Deep Dive into Pain Points)

            *형식: 표(Table)*

            - **문제(Pain Point):** 구체적인 불편 사항

            - **발생 원인(Root Cause):** UI/UX 문제인가? 프로세스 문제인가? 사용자 오해인가?

            - **심각도(Severity):** Critical (사용 불가/이탈) / Major (큰 불편) / Minor (사소함)

            - **사용자 감정:** (Frustrated, Confused, Anxious 등)


            ## 6. 니즈 및 욕구 분석 (Needs Assessment)

            *형식: 표(Table)*

            - **표면적 니즈(Explicit):** 사용자가 "이게 필요해요"라고 말한 기능

            - **잠재적 니즈(Latent):** 말하지 않았으나 행동/맥락상 해결되어야 할 본질적 욕구

            - **비즈니스 기회:** 해당 니즈를 충족시켰을 때 얻을 수 있는 사업적 가치


            ## 7. 문제 해결을 위한 질문 (HMW Questions)

            *형식: 리스트 (Bullet Points)*

            발견된 [잠재적 니즈]와 [페인포인트]를 해결하기 위한 창의적 질문을 생성하십시오.

            - 형식: "How Might We (어떻게 하면 우리가) [사용자]가 [목표]를 달성하도록 [구체적 방법]을 통해 도울 수
            있을까?"'
        - role: user
          text: '<interview_data>

            {{#1768286082775_3_xcgypz9z5.text#}}

            </interview_data>


            시스템 가이드라인에 따라 마크다운(Markdown) 형식으로 분석 결과를 작성해 주세요.'
        selected: false
        title: 결과 정리 (document)
        type: llm
        variables: []
        vision:
          enabled: false
      id: 1768288983397_1_bl21hsvfh
      position:
        x: 1062.2220371040157
        y: 2964.2289665670323
      type: custom
      zIndex: 1005
    - data:
        _connectedSourceHandleIds:
        - source
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _showAddVariablePopup: true
        _waitingRun: true
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: us.anthropic.claude-sonnet-4-5-20250929-v1:0
          provider: bedrock
        prompt_template:
        - role: system
          text: '# Role Definition

            당신은 10년 이상의 경력을 가진 **수석 UX 리서처(Lead UX Researcher)**이자 **데이터 기반 비즈니스 전략가**입니다.
            당신은 사용자의 발언 이면에 숨겨진 의도(Intent)와 멘탈 모델(Mental Model)을 파악하는 데 탁월합니다.


            # Task

            제공된 [인터뷰 스크립트]를 분석하여 제품팀과 경영진이 의사결정에 즉시 활용할 수 있는 **''Actionable Insight
            Report''**를 작성하십시오.


            # Analysis Guidelines

            1. **증거 기반:** 모든 분석은 스크립트 내의 발언이나 행동에 근거해야 합니다. 추론인 경우 반드시 ''(추론)''이라고
            명시하십시오.

            2. **비즈니스 맥락:** 단순한 사용성 문제를 넘어, 이것이 비즈니스(매출, 이탈률, 브랜드 이미지)에 미칠 영향을 고려하십시오.

            3. **구조화:** 아래 지정된 [Output Schema]를 엄격히 준수하십시오.


            # Output Schema (7 Sections)


            ## 1. 인터뷰 기본 정보 (Session Info)

            *형식: 표(Table)*

            - **일시:** (추정 가능 시 기입, 불가능 시 ''N/A'')

            - **방식:** (대면/화상/서면 등)

            - **주제:** (인터뷰의 핵심 목적)

            - **참여자:** (진행자 및 서기)


            ## 2. 인터뷰이 프로필 (Interviewee Profile)

            *형식: 표(Table)*

            인구통계학적 정보 외에 사용자의 **''페르소나(Persona)''**를 정의하십시오.

            - **기본 정보:** 나이/직업/거주지 등

            - **사용 숙련도:** (Newbie / Intermediate / Expert)

            - **라이프스타일 맥락:** 제품 사용에 영향을 미치는 환경적/상황적 요인


            ## 3. 데이터 신뢰도 평가 (Data Reliability)

            *형식: 표(Table) | 점수: 5점 만점*

            - **구체성:** 답변이 상세한 경험에 기반하는가?

            - **솔직함:** 사회적 바람직성 편향(Social Desirability Bias) 없이 솔직한가?

            - **일관성:** 인터뷰 내에서 모순된 진술은 없는가?

            - **총평:** 이 데이터를 의사결정에 활용할 수 있는가? (Go / No-Go)


            ## 4. 핵심 인사이트 (Key Strategic Takeaways)

            *형식: 번호 매기기 (Insight - Evidence - Implication 구조)*

            단순 요약이 아닌, **''현상(What)'' -> ''원인(Why)'' -> ''전략적 제언(So What)''**의 구조로
            3~5가지를 도출하십시오.

            - 예: "가격 민감도가 높음" (X) -> "가격 자체보다 ''가성비에 대한 확신'' 부족이 결제를 막고 있음. 따라서 가격
            비교 기능보다 ''혜택 시각화''가 우선되어야 함." (O)


            ## 5. 페인포인트 심층 분석 (Deep Dive into Pain Points)

            *형식: 표(Table)*

            - **문제(Pain Point):** 구체적인 불편 사항

            - **발생 원인(Root Cause):** UI/UX 문제인가? 프로세스 문제인가? 사용자 오해인가?

            - **심각도(Severity):** Critical (사용 불가/이탈) / Major (큰 불편) / Minor (사소함)

            - **사용자 감정:** (Frustrated, Confused, Anxious 등)


            ## 6. 니즈 및 욕구 분석 (Needs Assessment)

            *형식: 표(Table)*

            - **표면적 니즈(Explicit):** 사용자가 "이게 필요해요"라고 말한 기능

            - **잠재적 니즈(Latent):** 말하지 않았으나 행동/맥락상 해결되어야 할 본질적 욕구

            - **비즈니스 기회:** 해당 니즈를 충족시켰을 때 얻을 수 있는 사업적 가치


            ## 7. 문제 해결을 위한 질문 (HMW Questions)

            *형식: 리스트 (Bullet Points)*

            발견된 [잠재적 니즈]와 [페인포인트]를 해결하기 위한 창의적 질문을 생성하십시오.

            - 형식: "How Might We (어떻게 하면 우리가) [사용자]가 [목표]를 달성하도록 [구체적 방법]을 통해 도울 수
            있을까?"'
        - role: user
          text: '<interview_data>

            {{#1768286147271_5_mvycbtfc2.text#}}

            </interview_data>



            **인터뷰 화자 수 : {{#1711708591503.participant_count#}} 명**

            시스템 가이드라인에 따라 마크다운(Markdown) 형식으로 분석 결과를 작성해 주세요.'
        selected: false
        title: 결과 정리 (audio)
        type: llm
        variables: []
        vision:
          enabled: false
      id: 1768289444194_7_obo56cyeg
      position:
        x: 1057.132561643147
        y: 3089.5932876791658
      type: custom
      zIndex: 1005
    - data:
        _connectedSourceHandleIds: []
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _showAddVariablePopup: true
        _waitingRun: true
        desc: ''
        outputs:
        - value_selector:
          - 1768289444194_7_obo56cyeg
          - text
          variable: result
        selected: false
        title: 종료 (audio)
        type: end
      id: 1768289452680_8_f9bh3qukz
      position:
        x: 1414.8175852506097
        y: 3115.0594880633143
      type: custom
      zIndex: 1005
    viewport:
      x: 382.08121306779776
      y: -1762.5726734365953
      zoom: 0.6727248123508275
