templates/[REF]툴박스 미팅 자료 생성.yml
app:
  description: '현장 사진(Vision)과 법규/규정(RAG)을 결합하여 권위 있는 문서를 생성하는 워크플로우입니다. 시각 정보에 공적
    근거를 대조해야 하는 문서 작성에 선택하세요. 유사 케이스: 안전 점검 보고서, 현장 위험 평가, 규정 준수 체크리스트, 시설물 진단 보고서'
  icon: ''
  icon_background: ''
  mode: workflow
  name: '[REF]툴박스 미팅 자료 생성'
  use_icon_as_answer_icon: false
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      image:
        enabled: false
      number_limits: 10
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: llm
      id: 1762408071150-source-1762473714272_1_6arl6x584-target
      selected: false
      source: '1762408071150'
      sourceHandle: source
      target: 1762473714272_1_6arl6x584
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: llm
        targetType: knowledge-retrieval
      id: 1762473714272_1_6arl6x584-source-1762474040609_3_wwwiwbjhc-target
      selected: false
      source: 1762473714272_1_6arl6x584
      sourceHandle: source
      target: 1762474040609_3_wwwiwbjhc
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: llm
        targetType: knowledge-retrieval
      id: 1762473714272_1_6arl6x584-source-1762474045072_4_i397uufqd-target
      selected: false
      source: 1762473714272_1_6arl6x584
      sourceHandle: source
      target: 1762474045072_4_i397uufqd
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1762474040609_3_wwwiwbjhc-source-1762475687098_7_mriw8dgcy-target
      selected: false
      source: 1762474040609_3_wwwiwbjhc
      sourceHandle: source
      target: 1762475687098_7_mriw8dgcy
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1762474045072_4_i397uufqd-source-1762475687098_7_mriw8dgcy-target
      selected: false
      source: 1762474045072_4_i397uufqd
      sourceHandle: source
      target: 1762475687098_7_mriw8dgcy
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: llm
        targetType: tool
      id: 1762475687098_7_mriw8dgcy-source-1764849037101_1_py97y0ek5-target
      selected: false
      source: 1762475687098_7_mriw8dgcy
      sourceHandle: source
      target: 1764849037101_1_py97y0ek5
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: tool
        targetType: end
      id: 1764849037101_1_py97y0ek5-source-1762475758616_8_hfqkowvbk-target
      selected: false
      source: 1764849037101_1_py97y0ek5
      sourceHandle: source
      target: 1762475758616_8_hfqkowvbk
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        _connectedSourceHandleIds:
        - source
        _connectedTargetHandleIds: []
        _inParallelHovering: false
        _isEntering: false
        _runningStatus: none
        _waitingRun: false
        desc: ''
        selected: false
        title: 시작
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - image
          - document
          - audio
          - video
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: query
          max_length: 1000
          options: []
          required: true
          type: paragraph
          variable: query
        - allowed_file_extensions: []
          allowed_file_types:
          - image
          - document
          - audio
          - video
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: image
          max_length: 1
          options: []
          required: false
          type: file
          variable: image
      id: '1762408071150'
      position:
        x: 64.05630710526106
        y: 264.4345743320263
      type: custom
      zIndex: 1005
    - data:
        _connectedSourceHandleIds:
        - source
        - source
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _runningStatus: none
        _showAddVariablePopup: true
        _waitingRun: false
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            max_tokens: 4096
            temperature: 0.7
          mode: chat
          name: gpt-4.1-mini
          provider: openai
          registered_provider_id: 071fb436-eec8-4322-9af3-8b57c773988e
        prompt_template:
        - role: system
          text: '사용자의 자연어 질문을 산업안전보건법 문체의 가상 문서로 생성하세요.


            ## 규칙

            - 산업안전보건법, 시행령, 시행규칙, 안전보건기준규칙의 문체와 용어 사용

            - "사업주는", "근로자는" 등 법률 문체 사용

            - "~하여야 한다", "~할 것", "~하지 아니하다" 등 법률 용어 사용

            - 사용자의 질문 의도를 정확히 반영하여 실무에 적용 가능한 구체적인 내용 생성

            - 산업안전보건 전문 용어 정확히 사용


            ## 이미지 입력 처리

            - 이미지가 포함된 경우, 이미지 내용을 분석하여 산업안전보건 관련 정보를 추출하세요

            - 이미지에 작업 현장, 장비, 보호구, 안전 표지, 도면 등이 포함된 경우, 해당 내용을 산업안전보건법 문체로 변환하세요

            - 이미지와 텍스트가 함께 제공된 경우, 둘 다를 종합하여 분석하세요

            - 이미지만 제공된 경우, 이미지에서 파악된 작업 유형, 위험요인, 안전조치사항 등을 산업안전보건법 문체로 생성하세요

            - 이미지에 표시된 작업 환경, 장비 상태, 보호구 착용 여부, 안전 표지 등 모든 시각적 정보를 고려하세요


            ## 예시

            질문: "보일러 작업할 때 화상 안 당하려면 어떻게 해야 해?"

            생성:

            사업주는 보일러 작업 시 고온화상재해를 예방하기 위하여 다음 각 호의 조치를 하여야 한다. 고온 배관에 보온재를 설치할 것.
            작업 전 고온 표면의 온도를 확인하고 안전 거리를 유지할 것. 고온 작업 시 적절한 보호구를 착용하도록 할 것. 증기 배관 작업
            전 압력 방출을 확인할 것. 사업주는 위 조치를 이행하기 전에 안전점검을 실시하고 위험성평가에 반영하여야 한다.


            질문: "밀폐공간에서 일할 때 뭐 해야 돼?"

            생성:

            사업주는 밀폐공간에서 작업을 하는 경우 다음 각 호의 조치를 하여야 한다. 밀폐공간 작업 허가서를 발급할 것. 작업 전 산소
            농도를 측정할 것. 유해가스 농도를 측정하고 환기를 실시할 것. 감시자를 배치할 것. 산소 농도 및 유해가스 농도 측정은 작업
            전 및 작업 중 정기적으로 실시하여야 한다.


            질문: "작업장 조명은 얼마나 밝아야 해?"

            생성:

            사업주는 근로자가 상시 작업하는 장소의 작업면 조도(照度)를 다음 각 호의 기준에 맞도록 하여야 한다. 다만, 갱내(坑內) 작업장과
            감광재료(感光材料)를 취급하는 작업장은 그러하지 아니하다. 초정밀작업: 750럭스(lux) 이상. 정밀작업: 300럭스 이상.
            보통작업: 150럭스 이상. 그 밖의 작업: 75럭스 이상.


            질문: [이미지: 보호구 미착용 상태의 고소작업 사진] + "이 작업 안전한가요?"

            생성:

            사업주는 고소작업을 하는 경우 다음 각 호의 조치를 하여야 한다. 추락방지용 안전띠를 착용할 것. 안전모, 안전화 등 보호구를
            착용하도록 할 것. 작업발판을 설치하고 안전난간을 설치할 것. 작업 전 안전점검을 실시할 것. 사업주는 위 조치를 이행하지 아니한
            경우 작업을 중지하고 안전조치를 완료한 후에만 작업을 재개하여야 한다.


            질문: [이미지: 밀폐공간 작업 현장 사진만 제공]

            생성:

            사업주는 밀폐공간에서 작업을 하는 경우 다음 각 호의 조치를 하여야 한다. 밀폐공간 작업 허가서를 발급할 것. 작업 전 산소
            농도를 측정할 것. 유해가스 농도를 측정하고 환기를 실시할 것. 감시자를 배치할 것. 비상구조 장비를 비치할 것. 산소 농도
            및 유해가스 농도 측정은 작업 전 및 작업 중 정기적으로 실시하여야 한다.


            ## 출력

            산업안전보건법 문체의 가상 문서만 출력하세요.'
        - role: user
          text: 'user_question : {{#1762408071150.query#}}'
        selected: false
        title: generate_query(LLM)
        type: llm
        variables: []
        vision:
          configs:
            detail: low
            variable_selector:
            - '1762408071150'
            - image
          enabled: false
      id: 1762473714272_1_6arl6x584
      position:
        x: 464.42601107928056
        y: 304.48789058261156
      type: custom
      zIndex: 1005
    - data:
        _connectedSourceHandleIds:
        - source
        - source
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _runningStatus: none
        _showAddVariablePopup: true
        _waitingRun: false
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            max_tokens: 4096
            temperature: 0.7
          mode: chat
          name: gpt-4.1-mini
          provider: openai
          registered_provider_id: 071fb436-eec8-4322-9af3-8b57c773988e
        prompt_template:
        - role: system
          text: '사용자의 자연어 질문을 산업안전보건법 문체의 가상 문서로 생성하세요.


            ## 규칙

            - 산업안전보건법, 시행령, 시행규칙, 안전보건기준규칙의 문체와 용어 사용

            - "사업주는", "근로자는" 등 법률 문체 사용

            - "~하여야 한다", "~할 것", "~하지 아니하다" 등 법률 용어 사용

            - 사용자의 질문 의도를 정확히 반영하여 실무에 적용 가능한 구체적인 내용 생성

            - 산업안전보건 전문 용어 정확히 사용


            ## 이미지 입력 처리

            - 이미지가 포함된 경우, 이미지 내용을 분석하여 산업안전보건 관련 정보를 추출하세요

            - 이미지에 작업 현장, 장비, 보호구, 안전 표지, 도면 등이 포함된 경우, 해당 내용을 산업안전보건법 문체로 변환하세요

            - 이미지와 텍스트가 함께 제공된 경우, 둘 다를 종합하여 분석하세요

            - 이미지만 제공된 경우, 이미지에서 파악된 작업 유형, 위험요인, 안전조치사항 등을 산업안전보건법 문체로 생성하세요

            - 이미지에 표시된 작업 환경, 장비 상태, 보호구 착용 여부, 안전 표지 등 모든 시각적 정보를 고려하세요


            ## 예시

            질문: "보일러 작업할 때 화상 안 당하려면 어떻게 해야 해?"

            생성:

            사업주는 보일러 작업 시 고온화상재해를 예방하기 위하여 다음 각 호의 조치를 하여야 한다. 고온 배관에 보온재를 설치할 것.
            작업 전 고온 표면의 온도를 확인하고 안전 거리를 유지할 것. 고온 작업 시 적절한 보호구를 착용하도록 할 것. 증기 배관 작업
            전 압력 방출을 확인할 것. 사업주는 위 조치를 이행하기 전에 안전점검을 실시하고 위험성평가에 반영하여야 한다.


            질문: "밀폐공간에서 일할 때 뭐 해야 돼?"

            생성:

            사업주는 밀폐공간에서 작업을 하는 경우 다음 각 호의 조치를 하여야 한다. 밀폐공간 작업 허가서를 발급할 것. 작업 전 산소
            농도를 측정할 것. 유해가스 농도를 측정하고 환기를 실시할 것. 감시자를 배치할 것. 산소 농도 및 유해가스 농도 측정은 작업
            전 및 작업 중 정기적으로 실시하여야 한다.


            질문: "작업장 조명은 얼마나 밝아야 해?"

            생성:

            사업주는 근로자가 상시 작업하는 장소의 작업면 조도(照度)를 다음 각 호의 기준에 맞도록 하여야 한다. 다만, 갱내(坑內) 작업장과
            감광재료(感光材料)를 취급하는 작업장은 그러하지 아니하다. 초정밀작업: 750럭스(lux) 이상. 정밀작업: 300럭스 이상.
            보통작업: 150럭스 이상. 그 밖의 작업: 75럭스 이상.


            질문: [이미지: 보호구 미착용 상태의 고소작업 사진] + "이 작업 안전한가요?"

            생성:

            사업주는 고소작업을 하는 경우 다음 각 호의 조치를 하여야 한다. 추락방지용 안전띠를 착용할 것. 안전모, 안전화 등 보호구를
            착용하도록 할 것. 작업발판을 설치하고 안전난간을 설치할 것. 작업 전 안전점검을 실시할 것. 사업주는 위 조치를 이행하지 아니한
            경우 작업을 중지하고 안전조치를 완료한 후에만 작업을 재개하여야 한다.


            질문: [이미지: 밀폐공간 작업 현장 사진만 제공]

            생성:

            사업주는 밀폐공간에서 작업을 하는 경우 다음 각 호의 조치를 하여야 한다. 밀폐공간 작업 허가서를 발급할 것. 작업 전 산소
            농도를 측정할 것. 유해가스 농도를 측정하고 환기를 실시할 것. 감시자를 배치할 것. 비상구조 장비를 비치할 것. 산소 농도
            및 유해가스 농도 측정은 작업 전 및 작업 중 정기적으로 실시하여야 한다.


            ## 출력

            산업안전보건법 문체의 가상 문서만 출력하세요.'
        - role: user
          text: 'user_question : {{#1762408071150.query#}}'
        selected: false
        title: generate_query(LLM)
        type: llm
        variables: []
        vision:
          configs:
            detail: low
            variable_selector:
            - '1762408071150'
            - image
          enabled: false
      id: 1762473714272_1_6arl6x584
      position:
        x: 464.42601107928056
        y: 304.48789058261156
      type: custom
      zIndex: 1005
    - data:
        _connectedSourceHandleIds:
        - source
        - source
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _runningStatus: none
        _showAddVariablePopup: true
        _waitingRun: false
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            max_tokens: 4096
            temperature: 0.7
          mode: chat
          name: gpt-4.1-mini
          provider: openai
          registered_provider_id: 071fb436-eec8-4322-9af3-8b57c773988e
        prompt_template:
        - role: system
          text: '사용자의 자연어 질문을 산업안전보건법 문체의 가상 문서로 생성하세요.


            ## 규칙

            - 산업안전보건법, 시행령, 시행규칙, 안전보건기준규칙의 문체와 용어 사용

            - "사업주는", "근로자는" 등 법률 문체 사용

            - "~하여야 한다", "~할 것", "~하지 아니하다" 등 법률 용어 사용

            - 사용자의 질문 의도를 정확히 반영하여 실무에 적용 가능한 구체적인 내용 생성

            - 산업안전보건 전문 용어 정확히 사용


            ## 이미지 입력 처리

            - 이미지가 포함된 경우, 이미지 내용을 분석하여 산업안전보건 관련 정보를 추출하세요

            - 이미지에 작업 현장, 장비, 보호구, 안전 표지, 도면 등이 포함된 경우, 해당 내용을 산업안전보건법 문체로 변환하세요

            - 이미지와 텍스트가 함께 제공된 경우, 둘 다를 종합하여 분석하세요

            - 이미지만 제공된 경우, 이미지에서 파악된 작업 유형, 위험요인, 안전조치사항 등을 산업안전보건법 문체로 생성하세요

            - 이미지에 표시된 작업 환경, 장비 상태, 보호구 착용 여부, 안전 표지 등 모든 시각적 정보를 고려하세요


            ## 예시

            질문: "보일러 작업할 때 화상 안 당하려면 어떻게 해야 해?"

            생성:

            사업주는 보일러 작업 시 고온화상재해를 예방하기 위하여 다음 각 호의 조치를 하여야 한다. 고온 배관에 보온재를 설치할 것.
            작업 전 고온 표면의 온도를 확인하고 안전 거리를 유지할 것. 고온 작업 시 적절한 보호구를 착용하도록 할 것. 증기 배관 작업
            전 압력 방출을 확인할 것. 사업주는 위 조치를 이행하기 전에 안전점검을 실시하고 위험성평가에 반영하여야 한다.


            질문: "밀폐공간에서 일할 때 뭐 해야 돼?"

            생성:

            사업주는 밀폐공간에서 작업을 하는 경우 다음 각 호의 조치를 하여야 한다. 밀폐공간 작업 허가서를 발급할 것. 작업 전 산소
            농도를 측정할 것. 유해가스 농도를 측정하고 환기를 실시할 것. 감시자를 배치할 것. 산소 농도 및 유해가스 농도 측정은 작업
            전 및 작업 중 정기적으로 실시하여야 한다.


            질문: "작업장 조명은 얼마나 밝아야 해?"

            생성:

            사업주는 근로자가 상시 작업하는 장소의 작업면 조도(照度)를 다음 각 호의 기준에 맞도록 하여야 한다. 다만, 갱내(坑內) 작업장과
            감광재료(感光材料)를 취급하는 작업장은 그러하지 아니하다. 초정밀작업: 750럭스(lux) 이상. 정밀작업: 300럭스 이상.
            보통작업: 150럭스 이상. 그 밖의 작업: 75럭스 이상.


            질문: [이미지: 보호구 미착용 상태의 고소작업 사진] + "이 작업 안전한가요?"

            생성:

            사업주는 고소작업을 하는 경우 다음 각 호의 조치를 하여야 한다. 추락방지용 안전띠를 착용할 것. 안전모, 안전화 등 보호구를
            착용하도록 할 것. 작업발판을 설치하고 안전난간을 설치할 것. 작업 전 안전점검을 실시할 것. 사업주는 위 조치를 이행하지 아니한
            경우 작업을 중지하고 안전조치를 완료한 후에만 작업을 재개하여야 한다.


            질문: [이미지: 밀폐공간 작업 현장 사진만 제공]

            생성:

            사업주는 밀폐공간에서 작업을 하는 경우 다음 각 호의 조치를 하여야 한다. 밀폐공간 작업 허가서를 발급할 것. 작업 전 산소
            농도를 측정할 것. 유해가스 농도를 측정하고 환기를 실시할 것. 감시자를 배치할 것. 비상구조 장비를 비치할 것. 산소 농도
            및 유해가스 농도 측정은 작업 전 및 작업 중 정기적으로 실시하여야 한다.


            ## 출력

            산업안전보건법 문체의 가상 문서만 출력하세요.'
        - role: user
          text: 'user_question : {{#1762408071150.query#}}'
        selected: false
        title: generate_query(LLM)
        type: llm
        variables: []
        vision:
          configs:
            detail: low
            variable_selector:
            - '1762408071150'
            - image
          enabled: false
      id: 1762473714272_1_6arl6x584
      position:
        x: 464.42601107928056
        y: 304.48789058261156
      type: custom
      zIndex: 1005
    - data:
        _connectedSourceHandleIds:
        - source
        - source
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _runningStatus: none
        _showAddVariablePopup: true
        _waitingRun: false
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            max_tokens: 4096
            temperature: 0.7
          mode: chat
          name: gpt-4.1-mini
          provider: openai
          registered_provider_id: 071fb436-eec8-4322-9af3-8b57c773988e
        prompt_template:
        - role: system
          text: '사용자의 자연어 질문을 산업안전보건법 문체의 가상 문서로 생성하세요.


            ## 규칙

            - 산업안전보건법, 시행령, 시행규칙, 안전보건기준규칙의 문체와 용어 사용

            - "사업주는", "근로자는" 등 법률 문체 사용

            - "~하여야 한다", "~할 것", "~하지 아니하다" 등 법률 용어 사용

            - 사용자의 질문 의도를 정확히 반영하여 실무에 적용 가능한 구체적인 내용 생성

            - 산업안전보건 전문 용어 정확히 사용


            ## 이미지 입력 처리

            - 이미지가 포함된 경우, 이미지 내용을 분석하여 산업안전보건 관련 정보를 추출하세요

            - 이미지에 작업 현장, 장비, 보호구, 안전 표지, 도면 등이 포함된 경우, 해당 내용을 산업안전보건법 문체로 변환하세요

            - 이미지와 텍스트가 함께 제공된 경우, 둘 다를 종합하여 분석하세요

            - 이미지만 제공된 경우, 이미지에서 파악된 작업 유형, 위험요인, 안전조치사항 등을 산업안전보건법 문체로 생성하세요

            - 이미지에 표시된 작업 환경, 장비 상태, 보호구 착용 여부, 안전 표지 등 모든 시각적 정보를 고려하세요


            ## 예시

            질문: "보일러 작업할 때 화상 안 당하려면 어떻게 해야 해?"

            생성:

            사업주는 보일러 작업 시 고온화상재해를 예방하기 위하여 다음 각 호의 조치를 하여야 한다. 고온 배관에 보온재를 설치할 것.
            작업 전 고온 표면의 온도를 확인하고 안전 거리를 유지할 것. 고온 작업 시 적절한 보호구를 착용하도록 할 것. 증기 배관 작업
            전 압력 방출을 확인할 것. 사업주는 위 조치를 이행하기 전에 안전점검을 실시하고 위험성평가에 반영하여야 한다.


            질문: "밀폐공간에서 일할 때 뭐 해야 돼?"

            생성:

            사업주는 밀폐공간에서 작업을 하는 경우 다음 각 호의 조치를 하여야 한다. 밀폐공간 작업 허가서를 발급할 것. 작업 전 산소
            농도를 측정할 것. 유해가스 농도를 측정하고 환기를 실시할 것. 감시자를 배치할 것. 산소 농도 및 유해가스 농도 측정은 작업
            전 및 작업 중 정기적으로 실시하여야 한다.


            질문: "작업장 조명은 얼마나 밝아야 해?"

            생성:

            사업주는 근로자가 상시 작업하는 장소의 작업면 조도(照度)를 다음 각 호의 기준에 맞도록 하여야 한다. 다만, 갱내(坑內) 작업장과
            감광재료(感光材料)를 취급하는 작업장은 그러하지 아니하다. 초정밀작업: 750럭스(lux) 이상. 정밀작업: 300럭스 이상.
            보통작업: 150럭스 이상. 그 밖의 작업: 75럭스 이상.


            질문: [이미지: 보호구 미착용 상태의 고소작업 사진] + "이 작업 안전한가요?"

            생성:

            사업주는 고소작업을 하는 경우 다음 각 호의 조치를 하여야 한다. 추락방지용 안전띠를 착용할 것. 안전모, 안전화 등 보호구를
            착용하도록 할 것. 작업발판을 설치하고 안전난간을 설치할 것. 작업 전 안전점검을 실시할 것. 사업주는 위 조치를 이행하지 아니한
            경우 작업을 중지하고 안전조치를 완료한 후에만 작업을 재개하여야 한다.


            질문: [이미지: 밀폐공간 작업 현장 사진만 제공]

            생성:

            사업주는 밀폐공간에서 작업을 하는 경우 다음 각 호의 조치를 하여야 한다. 밀폐공간 작업 허가서를 발급할 것. 작업 전 산소
            농도를 측정할 것. 유해가스 농도를 측정하고 환기를 실시할 것. 감시자를 배치할 것. 비상구조 장비를 비치할 것. 산소 농도
            및 유해가스 농도 측정은 작업 전 및 작업 중 정기적으로 실시하여야 한다.


            ## 출력

            산업안전보건법 문체의 가상 문서만 출력하세요.'
        - role: user
          text: 'user_question : {{#1762408071150.query#}}'
        selected: false
        title: generate_query(LLM)
        type: llm
        variables: []
        vision:
          configs:
            detail: low
            variable_selector:
            - '1762408071150'
            - image
          enabled: false
      id: 1762473714272_1_6arl6x584
      position:
        x: 464.42601107928056
        y: 304.48789058261156
      type: custom
      zIndex: 1005
    - data:
        _connectedSourceHandleIds:
        - source
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _runningStatus: none
        _showAddVariablePopup: true
        _waitingRun: false
        dataset_ids:
        - 4d99ac8b-766d-4231-8693-b56e54b12fc5
        dataset_retrieval_configs:
        - dataset_id: 4d99ac8b-766d-4231-8693-b56e54b12fc5
          dataset_name: 안전보건기준규칙_RAG.csv
          indexing_technique: high_quality
          provider: openai
          retrieval_model:
            reranking_enable: true
            reranking_mode: weighted_score
            reranking_model:
              registered_provider_id: 3841c76a-81cb-41b4-bf73-6a858bca4713
              reranking_model_name: amazon.rerank-v1:0
              reranking_provider_name: bedrock
            score_threshold: 0.2
            score_threshold_enabled: true
            search_method: hybrid_search
            top_k: 3
            weights:
              keyword_setting:
                keyword_weight: 0.5
              vector_setting:
                embedding_model_name: ''
                embedding_provider_name: ''
                vector_weight: 0.5
              weight_type: customized
        - dataset_id: 4d99ac8b-766d-4231-8693-b56e54b12fc5
          dataset_name: 안전보건기준규칙_RAG.csv
          indexing_technique: high_quality
          provider: openai
          retrieval_model:
            reranking_enable: true
            reranking_mode: weighted_score
            reranking_model:
              registered_provider_id: 0c39182a-58eb-4db6-a7c2-0dc494808b94
              reranking_model_name: amazon.rerank-v1:0
              reranking_provider_name: bedrock
            score_threshold: 0.2
            score_threshold_enabled: true
            search_method: hybrid_search
            top_k: 3
            weights:
              keyword_setting:
                keyword_weight: 0.5
              vector_setting:
                embedding_model_name: ''
                embedding_provider_name: ''
                vector_weight: 0.5
              weight_type: customized
        - dataset_id: 4d99ac8b-766d-4231-8693-b56e54b12fc5
          dataset_name: 안전보건기준규칙_RAG.csv
          indexing_technique: high_quality
          provider: openai
          retrieval_model:
            reranking_enable: true
            reranking_mode: weighted_score
            reranking_model:
              registered_provider_id: 3841c76a-81cb-41b4-bf73-6a858bca4713
              reranking_model_name: amazon.rerank-v1:0
              reranking_provider_name: bedrock
            score_threshold: 0.2
            score_threshold_enabled: true
            search_method: hybrid_search
            top_k: 3
            weights:
              keyword_setting:
                keyword_weight: 0.5
              vector_setting:
                embedding_model_name: ''
                embedding_provider_name: ''
                vector_weight: 0.5
              weight_type: customized
        - dataset_id: 4d99ac8b-766d-4231-8693-b56e54b12fc5
          dataset_name: 안전보건기준규칙_RAG.csv
          indexing_technique: high_quality
          provider: openai
          retrieval_model:
            reranking_enable: true
            reranking_mode: weighted_score
            reranking_model:
              registered_provider_id: 0c39182a-58eb-4db6-a7c2-0dc494808b94
              reranking_model_name: amazon.rerank-v1:0
              reranking_provider_name: bedrock
            score_threshold: 0.2
            score_threshold_enabled: true
            search_method: hybrid_search
            top_k: 3
            weights:
              keyword_setting:
                keyword_weight: 0.5
              vector_setting:
                embedding_model_name: ''
                embedding_provider_name: ''
                vector_weight: 0.5
              weight_type: customized
        desc: ''
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          score_threshold: null
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: openai
              registered_provider_id: 071fb436-eec8-4322-9af3-8b57c773988e
              vector_weight: 0.7
        query_variable_selector:
        - 1762473714272_1_6arl6x584
        - text
        retrieval_mode: multiple
        selected: false
        title: 산업안전보건법 검색
        type: knowledge-retrieval
      id: 1762474040609_3_wwwiwbjhc
      position:
        x: 843.1583591129805
        y: 231.75835280441015
      type: custom
      zIndex: 1005
    - data:
        _connectedSourceHandleIds:
        - source
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _runningStatus: none
        _showAddVariablePopup: true
        _waitingRun: false
        dataset_ids:
        - 4d99ac8b-766d-4231-8693-b56e54b12fc5
        dataset_retrieval_configs:
        - dataset_id: 4d99ac8b-766d-4231-8693-b56e54b12fc5
          dataset_name: 안전보건기준규칙_RAG.csv
          indexing_technique: high_quality
          provider: openai
          retrieval_model:
            reranking_enable: true
            reranking_mode: weighted_score
            reranking_model:
              registered_provider_id: 3841c76a-81cb-41b4-bf73-6a858bca4713
              reranking_model_name: amazon.rerank-v1:0
              reranking_provider_name: bedrock
            score_threshold: 0.2
            score_threshold_enabled: true
            search_method: hybrid_search
            top_k: 3
            weights:
              keyword_setting:
                keyword_weight: 0.5
              vector_setting:
                embedding_model_name: ''
                embedding_provider_name: ''
                vector_weight: 0.5
              weight_type: customized
        - dataset_id: 4d99ac8b-766d-4231-8693-b56e54b12fc5
          dataset_name: 안전보건기준규칙_RAG.csv
          indexing_technique: high_quality
          provider: openai
          retrieval_model:
            reranking_enable: true
            reranking_mode: weighted_score
            reranking_model:
              registered_provider_id: 0c39182a-58eb-4db6-a7c2-0dc494808b94
              reranking_model_name: amazon.rerank-v1:0
              reranking_provider_name: bedrock
            score_threshold: 0.2
            score_threshold_enabled: true
            search_method: hybrid_search
            top_k: 3
            weights:
              keyword_setting:
                keyword_weight: 0.5
              vector_setting:
                embedding_model_name: ''
                embedding_provider_name: ''
                vector_weight: 0.5
              weight_type: customized
        - dataset_id: 4d99ac8b-766d-4231-8693-b56e54b12fc5
          dataset_name: 안전보건기준규칙_RAG.csv
          indexing_technique: high_quality
          provider: openai
          retrieval_model:
            reranking_enable: true
            reranking_mode: weighted_score
            reranking_model:
              registered_provider_id: 3841c76a-81cb-41b4-bf73-6a858bca4713
              reranking_model_name: amazon.rerank-v1:0
              reranking_provider_name: bedrock
            score_threshold: 0.2
            score_threshold_enabled: true
            search_method: hybrid_search
            top_k: 3
            weights:
              keyword_setting:
                keyword_weight: 0.5
              vector_setting:
                embedding_model_name: ''
                embedding_provider_name: ''
                vector_weight: 0.5
              weight_type: customized
        - dataset_id: 4d99ac8b-766d-4231-8693-b56e54b12fc5
          dataset_name: 안전보건기준규칙_RAG.csv
          indexing_technique: high_quality
          provider: openai
          retrieval_model:
            reranking_enable: true
            reranking_mode: weighted_score
            reranking_model:
              registered_provider_id: 0c39182a-58eb-4db6-a7c2-0dc494808b94
              reranking_model_name: amazon.rerank-v1:0
              reranking_provider_name: bedrock
            score_threshold: 0.2
            score_threshold_enabled: true
            search_method: hybrid_search
            top_k: 3
            weights:
              keyword_setting:
                keyword_weight: 0.5
              vector_setting:
                embedding_model_name: ''
                embedding_provider_name: ''
                vector_weight: 0.5
              weight_type: customized
        desc: ''
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          score_threshold: null
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: openai
              registered_provider_id: 071fb436-eec8-4322-9af3-8b57c773988e
              vector_weight: 0.7
        query_variable_selector:
        - 1762473714272_1_6arl6x584
        - text
        retrieval_mode: multiple
        selected: false
        title: 산업안전보건법 검색
        type: knowledge-retrieval
      id: 1762474040609_3_wwwiwbjhc
      position:
        x: 843.1583591129805
        y: 231.75835280441015
      type: custom
      zIndex: 1005
    - data:
        _connectedSourceHandleIds:
        - source
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _runningStatus: none
        _showAddVariablePopup: true
        _waitingRun: false
        dataset_ids:
        - 4d99ac8b-766d-4231-8693-b56e54b12fc5
        dataset_retrieval_configs:
        - dataset_id: 4d99ac8b-766d-4231-8693-b56e54b12fc5
          dataset_name: 안전보건기준규칙_RAG.csv
          indexing_technique: high_quality
          provider: openai
          retrieval_model:
            reranking_enable: true
            reranking_mode: weighted_score
            reranking_model:
              registered_provider_id: 3841c76a-81cb-41b4-bf73-6a858bca4713
              reranking_model_name: amazon.rerank-v1:0
              reranking_provider_name: bedrock
            score_threshold: 0.2
            score_threshold_enabled: true
            search_method: hybrid_search
            top_k: 3
            weights:
              keyword_setting:
                keyword_weight: 0.5
              vector_setting:
                embedding_model_name: ''
                embedding_provider_name: ''
                vector_weight: 0.5
              weight_type: customized
        - dataset_id: 4d99ac8b-766d-4231-8693-b56e54b12fc5
          dataset_name: 안전보건기준규칙_RAG.csv
          indexing_technique: high_quality
          provider: openai
          retrieval_model:
            reranking_enable: true
            reranking_mode: weighted_score
            reranking_model:
              registered_provider_id: 0c39182a-58eb-4db6-a7c2-0dc494808b94
              reranking_model_name: amazon.rerank-v1:0
              reranking_provider_name: bedrock
            score_threshold: 0.2
            score_threshold_enabled: true
            search_method: hybrid_search
            top_k: 3
            weights:
              keyword_setting:
                keyword_weight: 0.5
              vector_setting:
                embedding_model_name: ''
                embedding_provider_name: ''
                vector_weight: 0.5
              weight_type: customized
        - dataset_id: 4d99ac8b-766d-4231-8693-b56e54b12fc5
          dataset_name: 안전보건기준규칙_RAG.csv
          indexing_technique: high_quality
          provider: openai
          retrieval_model:
            reranking_enable: true
            reranking_mode: weighted_score
            reranking_model:
              registered_provider_id: 3841c76a-81cb-41b4-bf73-6a858bca4713
              reranking_model_name: amazon.rerank-v1:0
              reranking_provider_name: bedrock
            score_threshold: 0.2
            score_threshold_enabled: true
            search_method: hybrid_search
            top_k: 3
            weights:
              keyword_setting:
                keyword_weight: 0.5
              vector_setting:
                embedding_model_name: ''
                embedding_provider_name: ''
                vector_weight: 0.5
              weight_type: customized
        - dataset_id: 4d99ac8b-766d-4231-8693-b56e54b12fc5
          dataset_name: 안전보건기준규칙_RAG.csv
          indexing_technique: high_quality
          provider: openai
          retrieval_model:
            reranking_enable: true
            reranking_mode: weighted_score
            reranking_model:
              registered_provider_id: 0c39182a-58eb-4db6-a7c2-0dc494808b94
              reranking_model_name: amazon.rerank-v1:0
              reranking_provider_name: bedrock
            score_threshold: 0.2
            score_threshold_enabled: true
            search_method: hybrid_search
            top_k: 3
            weights:
              keyword_setting:
                keyword_weight: 0.5
              vector_setting:
                embedding_model_name: ''
                embedding_provider_name: ''
                vector_weight: 0.5
              weight_type: customized
        desc: ''
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          score_threshold: null
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: openai
              registered_provider_id: 071fb436-eec8-4322-9af3-8b57c773988e
              vector_weight: 0.7
        query_variable_selector:
        - 1762473714272_1_6arl6x584
        - text
        retrieval_mode: multiple
        selected: false
        title: 산업안전보건법 검색
        type: knowledge-retrieval
      id: 1762474040609_3_wwwiwbjhc
      position:
        x: 843.1583591129805
        y: 231.75835280441015
      type: custom
      zIndex: 1005
    - data:
        _connectedSourceHandleIds:
        - source
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _runningStatus: none
        _showAddVariablePopup: true
        _waitingRun: false
        dataset_ids:
        - 4d99ac8b-766d-4231-8693-b56e54b12fc5
        dataset_retrieval_configs:
        - dataset_id: 4d99ac8b-766d-4231-8693-b56e54b12fc5
          dataset_name: 안전보건기준규칙_RAG.csv
          indexing_technique: high_quality
          provider: openai
          retrieval_model:
            reranking_enable: true
            reranking_mode: weighted_score
            reranking_model:
              registered_provider_id: 3841c76a-81cb-41b4-bf73-6a858bca4713
              reranking_model_name: amazon.rerank-v1:0
              reranking_provider_name: bedrock
            score_threshold: 0.2
            score_threshold_enabled: true
            search_method: hybrid_search
            top_k: 3
            weights:
              keyword_setting:
                keyword_weight: 0.5
              vector_setting:
                embedding_model_name: ''
                embedding_provider_name: ''
                vector_weight: 0.5
              weight_type: customized
        - dataset_id: 4d99ac8b-766d-4231-8693-b56e54b12fc5
          dataset_name: 안전보건기준규칙_RAG.csv
          indexing_technique: high_quality
          provider: openai
          retrieval_model:
            reranking_enable: true
            reranking_mode: weighted_score
            reranking_model:
              registered_provider_id: 0c39182a-58eb-4db6-a7c2-0dc494808b94
              reranking_model_name: amazon.rerank-v1:0
              reranking_provider_name: bedrock
            score_threshold: 0.2
            score_threshold_enabled: true
            search_method: hybrid_search
            top_k: 3
            weights:
              keyword_setting:
                keyword_weight: 0.5
              vector_setting:
                embedding_model_name: ''
                embedding_provider_name: ''
                vector_weight: 0.5
              weight_type: customized
        - dataset_id: 4d99ac8b-766d-4231-8693-b56e54b12fc5
          dataset_name: 안전보건기준규칙_RAG.csv
          indexing_technique: high_quality
          provider: openai
          retrieval_model:
            reranking_enable: true
            reranking_mode: weighted_score
            reranking_model:
              registered_provider_id: 3841c76a-81cb-41b4-bf73-6a858bca4713
              reranking_model_name: amazon.rerank-v1:0
              reranking_provider_name: bedrock
            score_threshold: 0.2
            score_threshold_enabled: true
            search_method: hybrid_search
            top_k: 3
            weights:
              keyword_setting:
                keyword_weight: 0.5
              vector_setting:
                embedding_model_name: ''
                embedding_provider_name: ''
                vector_weight: 0.5
              weight_type: customized
        - dataset_id: 4d99ac8b-766d-4231-8693-b56e54b12fc5
          dataset_name: 안전보건기준규칙_RAG.csv
          indexing_technique: high_quality
          provider: openai
          retrieval_model:
            reranking_enable: true
            reranking_mode: weighted_score
            reranking_model:
              registered_provider_id: 0c39182a-58eb-4db6-a7c2-0dc494808b94
              reranking_model_name: amazon.rerank-v1:0
              reranking_provider_name: bedrock
            score_threshold: 0.2
            score_threshold_enabled: true
            search_method: hybrid_search
            top_k: 3
            weights:
              keyword_setting:
                keyword_weight: 0.5
              vector_setting:
                embedding_model_name: ''
                embedding_provider_name: ''
                vector_weight: 0.5
              weight_type: customized
        desc: ''
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          score_threshold: null
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: openai
              registered_provider_id: 071fb436-eec8-4322-9af3-8b57c773988e
              vector_weight: 0.7
        query_variable_selector:
        - 1762473714272_1_6arl6x584
        - text
        retrieval_mode: multiple
        selected: false
        title: 산업안전보건법 검색
        type: knowledge-retrieval
      id: 1762474040609_3_wwwiwbjhc
      position:
        x: 843.1583591129805
        y: 231.75835280441015
      type: custom
      zIndex: 1005
    - data:
        _connectedSourceHandleIds:
        - source
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _runningStatus: none
        _showAddVariablePopup: true
        _waitingRun: false
        dataset_ids:
        - 9d4413f2-7a74-4d83-9daf-8e35febdf8e1
        dataset_retrieval_configs:
        - dataset_id: 9d4413f2-7a74-4d83-9daf-8e35febdf8e1
          dataset_name: 아차사고_RAG.csv
          indexing_technique: high_quality
          provider: openai
          retrieval_model:
            reranking_enable: true
            reranking_mode: weighted_score
            reranking_model:
              registered_provider_id: 3841c76a-81cb-41b4-bf73-6a858bca4713
              reranking_model_name: amazon.rerank-v1:0
              reranking_provider_name: bedrock
            score_threshold: 0
            score_threshold_enabled: false
            search_method: hybrid_search
            top_k: 3
            weights:
              keyword_setting:
                keyword_weight: 0.5
              vector_setting:
                embedding_model_name: ''
                embedding_provider_name: ''
                vector_weight: 0.5
              weight_type: customized
        - dataset_id: 9d4413f2-7a74-4d83-9daf-8e35febdf8e1
          dataset_name: 아차사고_RAG.csv
          indexing_technique: high_quality
          provider: openai
          retrieval_model:
            reranking_enable: true
            reranking_mode: weighted_score
            reranking_model:
              registered_provider_id: 0c39182a-58eb-4db6-a7c2-0dc494808b94
              reranking_model_name: amazon.rerank-v1:0
              reranking_provider_name: bedrock
            score_threshold: 0
            score_threshold_enabled: false
            search_method: hybrid_search
            top_k: 3
            weights:
              keyword_setting:
                keyword_weight: 0.5
              vector_setting:
                embedding_model_name: ''
                embedding_provider_name: ''
                vector_weight: 0.5
              weight_type: customized
        - dataset_id: 9d4413f2-7a74-4d83-9daf-8e35febdf8e1
          dataset_name: 아차사고_RAG.csv
          indexing_technique: high_quality
          provider: openai
          retrieval_model:
            reranking_enable: true
            reranking_mode: weighted_score
            reranking_model:
              registered_provider_id: 3841c76a-81cb-41b4-bf73-6a858bca4713
              reranking_model_name: amazon.rerank-v1:0
              reranking_provider_name: bedrock
            score_threshold: 0
            score_threshold_enabled: false
            search_method: hybrid_search
            top_k: 3
            weights:
              keyword_setting:
                keyword_weight: 0.5
              vector_setting:
                embedding_model_name: ''
                embedding_provider_name: ''
                vector_weight: 0.5
              weight_type: customized
        - dataset_id: 9d4413f2-7a74-4d83-9daf-8e35febdf8e1
          dataset_name: 아차사고_RAG.csv
          indexing_technique: high_quality
          provider: openai
          retrieval_model:
            reranking_enable: true
            reranking_mode: weighted_score
            reranking_model:
              registered_provider_id: 0c39182a-58eb-4db6-a7c2-0dc494808b94
              reranking_model_name: amazon.rerank-v1:0
              reranking_provider_name: bedrock
            score_threshold: 0
            score_threshold_enabled: false
            search_method: hybrid_search
            top_k: 3
            weights:
              keyword_setting:
                keyword_weight: 0.5
              vector_setting:
                embedding_model_name: ''
                embedding_provider_name: ''
                vector_weight: 0.5
              weight_type: customized
        desc: ''
        meta_search_filters: []
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          score_threshold: null
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: openai
              registered_provider_id: 071fb436-eec8-4322-9af3-8b57c773988e
              vector_weight: 0.7
        query_variable_selector:
        - 1762473714272_1_6arl6x584
        - text
        retrieval_mode: multiple
        selected: false
        title: 아차사고사례 검색
        type: knowledge-retrieval
      id: 1762474045072_4_i397uufqd
      position:
        x: 845.7079478986778
        y: 385.9948212047975
      type: custom
      zIndex: 1005
    - data:
        _connectedSourceHandleIds:
        - source
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _runningStatus: none
        _showAddVariablePopup: true
        _waitingRun: false
        dataset_ids:
        - 9d4413f2-7a74-4d83-9daf-8e35febdf8e1
        dataset_retrieval_configs:
        - dataset_id: 9d4413f2-7a74-4d83-9daf-8e35febdf8e1
          dataset_name: 아차사고_RAG.csv
          indexing_technique: high_quality
          provider: openai
          retrieval_model:
            reranking_enable: true
            reranking_mode: weighted_score
            reranking_model:
              registered_provider_id: 3841c76a-81cb-41b4-bf73-6a858bca4713
              reranking_model_name: amazon.rerank-v1:0
              reranking_provider_name: bedrock
            score_threshold: 0
            score_threshold_enabled: false
            search_method: hybrid_search
            top_k: 3
            weights:
              keyword_setting:
                keyword_weight: 0.5
              vector_setting:
                embedding_model_name: ''
                embedding_provider_name: ''
                vector_weight: 0.5
              weight_type: customized
        - dataset_id: 9d4413f2-7a74-4d83-9daf-8e35febdf8e1
          dataset_name: 아차사고_RAG.csv
          indexing_technique: high_quality
          provider: openai
          retrieval_model:
            reranking_enable: true
            reranking_mode: weighted_score
            reranking_model:
              registered_provider_id: 0c39182a-58eb-4db6-a7c2-0dc494808b94
              reranking_model_name: amazon.rerank-v1:0
              reranking_provider_name: bedrock
            score_threshold: 0
            score_threshold_enabled: false
            search_method: hybrid_search
            top_k: 3
            weights:
              keyword_setting:
                keyword_weight: 0.5
              vector_setting:
                embedding_model_name: ''
                embedding_provider_name: ''
                vector_weight: 0.5
              weight_type: customized
        - dataset_id: 9d4413f2-7a74-4d83-9daf-8e35febdf8e1
          dataset_name: 아차사고_RAG.csv
          indexing_technique: high_quality
          provider: openai
          retrieval_model:
            reranking_enable: true
            reranking_mode: weighted_score
            reranking_model:
              registered_provider_id: 3841c76a-81cb-41b4-bf73-6a858bca4713
              reranking_model_name: amazon.rerank-v1:0
              reranking_provider_name: bedrock
            score_threshold: 0
            score_threshold_enabled: false
            search_method: hybrid_search
            top_k: 3
            weights:
              keyword_setting:
                keyword_weight: 0.5
              vector_setting:
                embedding_model_name: ''
                embedding_provider_name: ''
                vector_weight: 0.5
              weight_type: customized
        - dataset_id: 9d4413f2-7a74-4d83-9daf-8e35febdf8e1
          dataset_name: 아차사고_RAG.csv
          indexing_technique: high_quality
          provider: openai
          retrieval_model:
            reranking_enable: true
            reranking_mode: weighted_score
            reranking_model:
              registered_provider_id: 0c39182a-58eb-4db6-a7c2-0dc494808b94
              reranking_model_name: amazon.rerank-v1:0
              reranking_provider_name: bedrock
            score_threshold: 0
            score_threshold_enabled: false
            search_method: hybrid_search
            top_k: 3
            weights:
              keyword_setting:
                keyword_weight: 0.5
              vector_setting:
                embedding_model_name: ''
                embedding_provider_name: ''
                vector_weight: 0.5
              weight_type: customized
        desc: ''
        meta_search_filters: []
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          score_threshold: null
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: openai
              registered_provider_id: 071fb436-eec8-4322-9af3-8b57c773988e
              vector_weight: 0.7
        query_variable_selector:
        - 1762473714272_1_6arl6x584
        - text
        retrieval_mode: multiple
        selected: false
        title: 아차사고사례 검색
        type: knowledge-retrieval
      id: 1762474045072_4_i397uufqd
      position:
        x: 845.7079478986778
        y: 385.9948212047975
      type: custom
      zIndex: 1005
    - data:
        _connectedSourceHandleIds:
        - source
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _runningStatus: none
        _showAddVariablePopup: true
        _waitingRun: false
        dataset_ids:
        - 9d4413f2-7a74-4d83-9daf-8e35febdf8e1
        dataset_retrieval_configs:
        - dataset_id: 9d4413f2-7a74-4d83-9daf-8e35febdf8e1
          dataset_name: 아차사고_RAG.csv
          indexing_technique: high_quality
          provider: openai
          retrieval_model:
            reranking_enable: true
            reranking_mode: weighted_score
            reranking_model:
              registered_provider_id: 3841c76a-81cb-41b4-bf73-6a858bca4713
              reranking_model_name: amazon.rerank-v1:0
              reranking_provider_name: bedrock
            score_threshold: 0
            score_threshold_enabled: false
            search_method: hybrid_search
            top_k: 3
            weights:
              keyword_setting:
                keyword_weight: 0.5
              vector_setting:
                embedding_model_name: ''
                embedding_provider_name: ''
                vector_weight: 0.5
              weight_type: customized
        - dataset_id: 9d4413f2-7a74-4d83-9daf-8e35febdf8e1
          dataset_name: 아차사고_RAG.csv
          indexing_technique: high_quality
          provider: openai
          retrieval_model:
            reranking_enable: true
            reranking_mode: weighted_score
            reranking_model:
              registered_provider_id: 0c39182a-58eb-4db6-a7c2-0dc494808b94
              reranking_model_name: amazon.rerank-v1:0
              reranking_provider_name: bedrock
            score_threshold: 0
            score_threshold_enabled: false
            search_method: hybrid_search
            top_k: 3
            weights:
              keyword_setting:
                keyword_weight: 0.5
              vector_setting:
                embedding_model_name: ''
                embedding_provider_name: ''
                vector_weight: 0.5
              weight_type: customized
        - dataset_id: 9d4413f2-7a74-4d83-9daf-8e35febdf8e1
          dataset_name: 아차사고_RAG.csv
          indexing_technique: high_quality
          provider: openai
          retrieval_model:
            reranking_enable: true
            reranking_mode: weighted_score
            reranking_model:
              registered_provider_id: 3841c76a-81cb-41b4-bf73-6a858bca4713
              reranking_model_name: amazon.rerank-v1:0
              reranking_provider_name: bedrock
            score_threshold: 0
            score_threshold_enabled: false
            search_method: hybrid_search
            top_k: 3
            weights:
              keyword_setting:
                keyword_weight: 0.5
              vector_setting:
                embedding_model_name: ''
                embedding_provider_name: ''
                vector_weight: 0.5
              weight_type: customized
        - dataset_id: 9d4413f2-7a74-4d83-9daf-8e35febdf8e1
          dataset_name: 아차사고_RAG.csv
          indexing_technique: high_quality
          provider: openai
          retrieval_model:
            reranking_enable: true
            reranking_mode: weighted_score
            reranking_model:
              registered_provider_id: 0c39182a-58eb-4db6-a7c2-0dc494808b94
              reranking_model_name: amazon.rerank-v1:0
              reranking_provider_name: bedrock
            score_threshold: 0
            score_threshold_enabled: false
            search_method: hybrid_search
            top_k: 3
            weights:
              keyword_setting:
                keyword_weight: 0.5
              vector_setting:
                embedding_model_name: ''
                embedding_provider_name: ''
                vector_weight: 0.5
              weight_type: customized
        desc: ''
        meta_search_filters: []
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          score_threshold: null
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: openai
              registered_provider_id: 071fb436-eec8-4322-9af3-8b57c773988e
              vector_weight: 0.7
        query_variable_selector:
        - 1762473714272_1_6arl6x584
        - text
        retrieval_mode: multiple
        selected: false
        title: 아차사고사례 검색
        type: knowledge-retrieval
      id: 1762474045072_4_i397uufqd
      position:
        x: 845.7079478986778
        y: 385.9948212047975
      type: custom
      zIndex: 1005
    - data:
        _connectedSourceHandleIds:
        - source
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _runningStatus: none
        _showAddVariablePopup: true
        _waitingRun: false
        dataset_ids:
        - 9d4413f2-7a74-4d83-9daf-8e35febdf8e1
        dataset_retrieval_configs:
        - dataset_id: 9d4413f2-7a74-4d83-9daf-8e35febdf8e1
          dataset_name: 아차사고_RAG.csv
          indexing_technique: high_quality
          provider: openai
          retrieval_model:
            reranking_enable: true
            reranking_mode: weighted_score
            reranking_model:
              registered_provider_id: 3841c76a-81cb-41b4-bf73-6a858bca4713
              reranking_model_name: amazon.rerank-v1:0
              reranking_provider_name: bedrock
            score_threshold: 0
            score_threshold_enabled: false
            search_method: hybrid_search
            top_k: 3
            weights:
              keyword_setting:
                keyword_weight: 0.5
              vector_setting:
                embedding_model_name: ''
                embedding_provider_name: ''
                vector_weight: 0.5
              weight_type: customized
        - dataset_id: 9d4413f2-7a74-4d83-9daf-8e35febdf8e1
          dataset_name: 아차사고_RAG.csv
          indexing_technique: high_quality
          provider: openai
          retrieval_model:
            reranking_enable: true
            reranking_mode: weighted_score
            reranking_model:
              registered_provider_id: 0c39182a-58eb-4db6-a7c2-0dc494808b94
              reranking_model_name: amazon.rerank-v1:0
              reranking_provider_name: bedrock
            score_threshold: 0
            score_threshold_enabled: false
            search_method: hybrid_search
            top_k: 3
            weights:
              keyword_setting:
                keyword_weight: 0.5
              vector_setting:
                embedding_model_name: ''
                embedding_provider_name: ''
                vector_weight: 0.5
              weight_type: customized
        - dataset_id: 9d4413f2-7a74-4d83-9daf-8e35febdf8e1
          dataset_name: 아차사고_RAG.csv
          indexing_technique: high_quality
          provider: openai
          retrieval_model:
            reranking_enable: true
            reranking_mode: weighted_score
            reranking_model:
              registered_provider_id: 3841c76a-81cb-41b4-bf73-6a858bca4713
              reranking_model_name: amazon.rerank-v1:0
              reranking_provider_name: bedrock
            score_threshold: 0
            score_threshold_enabled: false
            search_method: hybrid_search
            top_k: 3
            weights:
              keyword_setting:
                keyword_weight: 0.5
              vector_setting:
                embedding_model_name: ''
                embedding_provider_name: ''
                vector_weight: 0.5
              weight_type: customized
        - dataset_id: 9d4413f2-7a74-4d83-9daf-8e35febdf8e1
          dataset_name: 아차사고_RAG.csv
          indexing_technique: high_quality
          provider: openai
          retrieval_model:
            reranking_enable: true
            reranking_mode: weighted_score
            reranking_model:
              registered_provider_id: 0c39182a-58eb-4db6-a7c2-0dc494808b94
              reranking_model_name: amazon.rerank-v1:0
              reranking_provider_name: bedrock
            score_threshold: 0
            score_threshold_enabled: false
            search_method: hybrid_search
            top_k: 3
            weights:
              keyword_setting:
                keyword_weight: 0.5
              vector_setting:
                embedding_model_name: ''
                embedding_provider_name: ''
                vector_weight: 0.5
              weight_type: customized
        desc: ''
        meta_search_filters: []
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          score_threshold: null
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: openai
              registered_provider_id: 071fb436-eec8-4322-9af3-8b57c773988e
              vector_weight: 0.7
        query_variable_selector:
        - 1762473714272_1_6arl6x584
        - text
        retrieval_mode: multiple
        selected: false
        title: 아차사고사례 검색
        type: knowledge-retrieval
      id: 1762474045072_4_i397uufqd
      position:
        x: 845.7079478986778
        y: 385.9948212047975
      type: custom
      zIndex: 1005
    - data:
        _connectedSourceHandleIds:
        - source
        _connectedTargetHandleIds:
        - target
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _runningStatus: none
        _showAddVariablePopup: true
        _waitingRun: false
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            max_tokens: 4096
            temperature: 0.7
          mode: chat
          name: gpt-4.1
          provider: openai
          registered_provider_id: 071fb436-eec8-4322-9af3-8b57c773988e
        prompt_template:
        - role: system
          text: '산업안전보건법 조항, 아차사고 사례, 사용자 질문을 분석하여 발전소 작업 계획서를 작성하세요.


            ## 이미지 입력 처리


            - 이미지가 포함된 경우, 이미지 내용을 분석하여 작업 계획서 작성에 필요한 정보를 추출하세요

            - 이미지에서 작업 현장, 작업 장소, 작업 환경을 파악하여 작업 개요에 반영하세요

            - 이미지에서 작업 장비, 기계, 시설물을 확인하여 작업 내용과 위험요인 분석에 활용하세요

            - 이미지에서 보호구 착용 여부, 안전장치 설치 상태, 안전 표지 등을 확인하여 안전조치사항과 필수 안전보호구에 반영하세요

            - 이미지에서 작업자의 자세, 작업 방법, 작업 환경의 위험요인을 시각적으로 확인하여 위험요인 분석에 포함하세요

            - 이미지와 텍스트가 함께 제공된 경우, 둘 다를 종합하여 분석하세요

            - 이미지만 제공된 경우, 이미지에서 파악된 모든 정보를 바탕으로 작업 계획서를 작성하세요

            - 이미지에 도면, 설계도, 작업 순서도 등이 포함된 경우, 해당 내용을 작업 내용과 안전조치사항에 반영하세요


            ## 출력 형식


            ```

            # 작업 계획서


            ## 1. 작업 개요


            **작업명:** [사용자 질문에서 추출]

            **작업장소:** [사용자 질문 또는 아차사고 사례의 작업위치]

            **작업일시:** [사용자 질문에서 추출]

            **작업 인원:** [사용자 질문에서 추출]


            ### 작업 내용

            [작업 내용 설명]


            ---


            ## 2. 위험요인 분석


            ### 주요 위험요인

            - [아차사고 사례의 재해유형과 발생원인 분석]

            - [법규 조항에서 규제하는 위험요인]

            - [작업 특성상 발생 가능한 위험요인]


            ### 유해요인

            - [화학물질, 유해가스, 고온 등 유해요인]


            ---


            ## 3. 안전조치사항


            ### 작업 전 준비사항

            - [ ] [아차사고 사례의 예방대책에서 도출]

            - [ ] [법규 조항에서 요구하는 점검사항]

            - [ ] [작업 허가서, 위험성평가 등]


            ### 작업 중 안전수칙

            - [ ] [아차사고 사례의 예방대책에서 도출]

            - [ ] [법규 조항에서 요구하는 준수사항]

            - [ ] [감시자 배치, 정기 점검 등]


            ### 작업 후 조치사항

            - [ ] [작업장 정리, 안전장치 복구 등]


            ---


            ## 4. 필수 안전보호구


            - [ ] 안전모

            - [ ] 안전화

            - [ ] 보안경/안면보호구

            - [ ] 보호장갑

            - [ ] [작업 특성에 따른 추가 보호구]


            ---


            ## 5. 관련 법규 준수사항


            ### [문서명] 제XX조 ([조제목])

            [해당 조항의 핵심 내용]


            ### [문서명] 제XX조 ([조제목])

            [해당 조항의 핵심 내용]


            ---


            ## 6. 아차사고 사례 및 예방대책


            ### 유사 사고 사례

            [아차사고 사례의 사고내용과 발생원인 요약]


            ### 재발방지 대책

            [아차사고 사례의 예방대책 명시]

            ```


            ## 작성 가이드


            - 사용자 질문에서 작업 정보 추출

            - 이미지가 제공된 경우, 이미지에서 작업 현장, 장비, 환경, 보호구 착용 상태 등을 분석하여 작업 개요, 위험요인, 안전조치사항에
            반영

            - 아차사고 사례의 재해유형, 발생원인, 예방대책 활용

            - 법규 조항은 각 조항별로 문서명, 조번호, 조제목과 핵심 내용을 매칭하여 작성

            - 구체적이고 실행 가능한 조치사항 작성

            - 발전소 특성(고온, 고압, 밀폐공간 등) 고려

            - 백틱은 응답에 절대 포함하지 않음'
        - role: user
          text: '<user_question>{{#1762408071150.query#}}</user_question>

            <산업안전보건법>{{#1762474040609_3_wwwiwbjhc.result#}}</산업안전보건법>

            <아차사고>{{#1762474045072_4_i397uufqd.result#}}</아차사고>'
        selected: false
        title: 작업 계획 생성(LLM)
        type: llm
        variables: []
        vision:
          configs:
            detail: low
            variable_selector:
            - '1762408071150'
            - image
          enabled: true
      id: 1762475687098_7_mriw8dgcy
      position:
        x: 1307.6477151518534
        y: 211.05927274887745
      type: custom
      zIndex: 1005
    - data:
        _connectedSourceHandleIds:
        - source
        _connectedTargetHandleIds:
        - target
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _runningStatus: none
        _showAddVariablePopup: true
        _waitingRun: false
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            max_tokens: 4096
            temperature: 0.7
          mode: chat
          name: gpt-4.1
          provider: openai
          registered_provider_id: 071fb436-eec8-4322-9af3-8b57c773988e
        prompt_template:
        - role: system
          text: '산업안전보건법 조항, 아차사고 사례, 사용자 질문을 분석하여 발전소 작업 계획서를 작성하세요.


            ## 이미지 입력 처리


            - 이미지가 포함된 경우, 이미지 내용을 분석하여 작업 계획서 작성에 필요한 정보를 추출하세요

            - 이미지에서 작업 현장, 작업 장소, 작업 환경을 파악하여 작업 개요에 반영하세요

            - 이미지에서 작업 장비, 기계, 시설물을 확인하여 작업 내용과 위험요인 분석에 활용하세요

            - 이미지에서 보호구 착용 여부, 안전장치 설치 상태, 안전 표지 등을 확인하여 안전조치사항과 필수 안전보호구에 반영하세요

            - 이미지에서 작업자의 자세, 작업 방법, 작업 환경의 위험요인을 시각적으로 확인하여 위험요인 분석에 포함하세요

            - 이미지와 텍스트가 함께 제공된 경우, 둘 다를 종합하여 분석하세요

            - 이미지만 제공된 경우, 이미지에서 파악된 모든 정보를 바탕으로 작업 계획서를 작성하세요

            - 이미지에 도면, 설계도, 작업 순서도 등이 포함된 경우, 해당 내용을 작업 내용과 안전조치사항에 반영하세요


            ## 출력 형식


            ```

            # 작업 계획서


            ## 1. 작업 개요


            **작업명:** [사용자 질문에서 추출]

            **작업장소:** [사용자 질문 또는 아차사고 사례의 작업위치]

            **작업일시:** [사용자 질문에서 추출]

            **작업 인원:** [사용자 질문에서 추출]


            ### 작업 내용

            [작업 내용 설명]


            ---


            ## 2. 위험요인 분석


            ### 주요 위험요인

            - [아차사고 사례의 재해유형과 발생원인 분석]

            - [법규 조항에서 규제하는 위험요인]

            - [작업 특성상 발생 가능한 위험요인]


            ### 유해요인

            - [화학물질, 유해가스, 고온 등 유해요인]


            ---


            ## 3. 안전조치사항


            ### 작업 전 준비사항

            - [ ] [아차사고 사례의 예방대책에서 도출]

            - [ ] [법규 조항에서 요구하는 점검사항]

            - [ ] [작업 허가서, 위험성평가 등]


            ### 작업 중 안전수칙

            - [ ] [아차사고 사례의 예방대책에서 도출]

            - [ ] [법규 조항에서 요구하는 준수사항]

            - [ ] [감시자 배치, 정기 점검 등]


            ### 작업 후 조치사항

            - [ ] [작업장 정리, 안전장치 복구 등]


            ---


            ## 4. 필수 안전보호구


            - [ ] 안전모

            - [ ] 안전화

            - [ ] 보안경/안면보호구

            - [ ] 보호장갑

            - [ ] [작업 특성에 따른 추가 보호구]


            ---


            ## 5. 관련 법규 준수사항


            ### [문서명] 제XX조 ([조제목])

            [해당 조항의 핵심 내용]


            ### [문서명] 제XX조 ([조제목])

            [해당 조항의 핵심 내용]


            ---


            ## 6. 아차사고 사례 및 예방대책


            ### 유사 사고 사례

            [아차사고 사례의 사고내용과 발생원인 요약]


            ### 재발방지 대책

            [아차사고 사례의 예방대책 명시]

            ```


            ## 작성 가이드


            - 사용자 질문에서 작업 정보 추출

            - 이미지가 제공된 경우, 이미지에서 작업 현장, 장비, 환경, 보호구 착용 상태 등을 분석하여 작업 개요, 위험요인, 안전조치사항에
            반영

            - 아차사고 사례의 재해유형, 발생원인, 예방대책 활용

            - 법규 조항은 각 조항별로 문서명, 조번호, 조제목과 핵심 내용을 매칭하여 작성

            - 구체적이고 실행 가능한 조치사항 작성

            - 발전소 특성(고온, 고압, 밀폐공간 등) 고려

            - 백틱은 응답에 절대 포함하지 않음'
        - role: user
          text: '<user_question>{{#1762408071150.query#}}</user_question>

            <산업안전보건법>{{#1762474040609_3_wwwiwbjhc.result#}}</산업안전보건법>

            <아차사고>{{#1762474045072_4_i397uufqd.result#}}</아차사고>'
        selected: false
        title: 작업 계획 생성(LLM)
        type: llm
        variables: []
        vision:
          configs:
            detail: low
            variable_selector:
            - '1762408071150'
            - image
          enabled: true
      id: 1762475687098_7_mriw8dgcy
      position:
        x: 1307.6477151518534
        y: 211.05927274887745
      type: custom
      zIndex: 1005
    - data:
        _connectedSourceHandleIds:
        - source
        _connectedTargetHandleIds:
        - target
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _runningStatus: none
        _showAddVariablePopup: true
        _waitingRun: false
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            max_tokens: 4096
            temperature: 0.7
          mode: chat
          name: gpt-4.1
          provider: openai
          registered_provider_id: 071fb436-eec8-4322-9af3-8b57c773988e
        prompt_template:
        - role: system
          text: '산업안전보건법 조항, 아차사고 사례, 사용자 질문을 분석하여 발전소 작업 계획서를 작성하세요.


            ## 이미지 입력 처리


            - 이미지가 포함된 경우, 이미지 내용을 분석하여 작업 계획서 작성에 필요한 정보를 추출하세요

            - 이미지에서 작업 현장, 작업 장소, 작업 환경을 파악하여 작업 개요에 반영하세요

            - 이미지에서 작업 장비, 기계, 시설물을 확인하여 작업 내용과 위험요인 분석에 활용하세요

            - 이미지에서 보호구 착용 여부, 안전장치 설치 상태, 안전 표지 등을 확인하여 안전조치사항과 필수 안전보호구에 반영하세요

            - 이미지에서 작업자의 자세, 작업 방법, 작업 환경의 위험요인을 시각적으로 확인하여 위험요인 분석에 포함하세요

            - 이미지와 텍스트가 함께 제공된 경우, 둘 다를 종합하여 분석하세요

            - 이미지만 제공된 경우, 이미지에서 파악된 모든 정보를 바탕으로 작업 계획서를 작성하세요

            - 이미지에 도면, 설계도, 작업 순서도 등이 포함된 경우, 해당 내용을 작업 내용과 안전조치사항에 반영하세요


            ## 출력 형식


            ```

            # 작업 계획서


            ## 1. 작업 개요


            **작업명:** [사용자 질문에서 추출]

            **작업장소:** [사용자 질문 또는 아차사고 사례의 작업위치]

            **작업일시:** [사용자 질문에서 추출]

            **작업 인원:** [사용자 질문에서 추출]


            ### 작업 내용

            [작업 내용 설명]


            ---


            ## 2. 위험요인 분석


            ### 주요 위험요인

            - [아차사고 사례의 재해유형과 발생원인 분석]

            - [법규 조항에서 규제하는 위험요인]

            - [작업 특성상 발생 가능한 위험요인]


            ### 유해요인

            - [화학물질, 유해가스, 고온 등 유해요인]


            ---


            ## 3. 안전조치사항


            ### 작업 전 준비사항

            - [ ] [아차사고 사례의 예방대책에서 도출]

            - [ ] [법규 조항에서 요구하는 점검사항]

            - [ ] [작업 허가서, 위험성평가 등]


            ### 작업 중 안전수칙

            - [ ] [아차사고 사례의 예방대책에서 도출]

            - [ ] [법규 조항에서 요구하는 준수사항]

            - [ ] [감시자 배치, 정기 점검 등]


            ### 작업 후 조치사항

            - [ ] [작업장 정리, 안전장치 복구 등]


            ---


            ## 4. 필수 안전보호구


            - [ ] 안전모

            - [ ] 안전화

            - [ ] 보안경/안면보호구

            - [ ] 보호장갑

            - [ ] [작업 특성에 따른 추가 보호구]


            ---


            ## 5. 관련 법규 준수사항


            ### [문서명] 제XX조 ([조제목])

            [해당 조항의 핵심 내용]


            ### [문서명] 제XX조 ([조제목])

            [해당 조항의 핵심 내용]


            ---


            ## 6. 아차사고 사례 및 예방대책


            ### 유사 사고 사례

            [아차사고 사례의 사고내용과 발생원인 요약]


            ### 재발방지 대책

            [아차사고 사례의 예방대책 명시]

            ```


            ## 작성 가이드


            - 사용자 질문에서 작업 정보 추출

            - 이미지가 제공된 경우, 이미지에서 작업 현장, 장비, 환경, 보호구 착용 상태 등을 분석하여 작업 개요, 위험요인, 안전조치사항에
            반영

            - 아차사고 사례의 재해유형, 발생원인, 예방대책 활용

            - 법규 조항은 각 조항별로 문서명, 조번호, 조제목과 핵심 내용을 매칭하여 작성

            - 구체적이고 실행 가능한 조치사항 작성

            - 발전소 특성(고온, 고압, 밀폐공간 등) 고려

            - 백틱은 응답에 절대 포함하지 않음'
        - role: user
          text: '<user_question>{{#1762408071150.query#}}</user_question>

            <산업안전보건법>{{#1762474040609_3_wwwiwbjhc.result#}}</산업안전보건법>

            <아차사고>{{#1762474045072_4_i397uufqd.result#}}</아차사고>'
        selected: false
        title: 작업 계획 생성(LLM)
        type: llm
        variables: []
        vision:
          configs:
            detail: low
            variable_selector:
            - '1762408071150'
            - image
          enabled: true
      id: 1762475687098_7_mriw8dgcy
      position:
        x: 1307.6477151518534
        y: 211.05927274887745
      type: custom
      zIndex: 1005
    - data:
        _connectedSourceHandleIds:
        - source
        _connectedTargetHandleIds:
        - target
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _runningStatus: none
        _showAddVariablePopup: true
        _waitingRun: false
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            max_tokens: 4096
            temperature: 0.7
          mode: chat
          name: gpt-4.1
          provider: openai
          registered_provider_id: 071fb436-eec8-4322-9af3-8b57c773988e
        prompt_template:
        - role: system
          text: '산업안전보건법 조항, 아차사고 사례, 사용자 질문을 분석하여 발전소 작업 계획서를 작성하세요.


            ## 이미지 입력 처리


            - 이미지가 포함된 경우, 이미지 내용을 분석하여 작업 계획서 작성에 필요한 정보를 추출하세요

            - 이미지에서 작업 현장, 작업 장소, 작업 환경을 파악하여 작업 개요에 반영하세요

            - 이미지에서 작업 장비, 기계, 시설물을 확인하여 작업 내용과 위험요인 분석에 활용하세요

            - 이미지에서 보호구 착용 여부, 안전장치 설치 상태, 안전 표지 등을 확인하여 안전조치사항과 필수 안전보호구에 반영하세요

            - 이미지에서 작업자의 자세, 작업 방법, 작업 환경의 위험요인을 시각적으로 확인하여 위험요인 분석에 포함하세요

            - 이미지와 텍스트가 함께 제공된 경우, 둘 다를 종합하여 분석하세요

            - 이미지만 제공된 경우, 이미지에서 파악된 모든 정보를 바탕으로 작업 계획서를 작성하세요

            - 이미지에 도면, 설계도, 작업 순서도 등이 포함된 경우, 해당 내용을 작업 내용과 안전조치사항에 반영하세요


            ## 출력 형식


            ```

            # 작업 계획서


            ## 1. 작업 개요


            **작업명:** [사용자 질문에서 추출]

            **작업장소:** [사용자 질문 또는 아차사고 사례의 작업위치]

            **작업일시:** [사용자 질문에서 추출]

            **작업 인원:** [사용자 질문에서 추출]


            ### 작업 내용

            [작업 내용 설명]


            ---


            ## 2. 위험요인 분석


            ### 주요 위험요인

            - [아차사고 사례의 재해유형과 발생원인 분석]

            - [법규 조항에서 규제하는 위험요인]

            - [작업 특성상 발생 가능한 위험요인]


            ### 유해요인

            - [화학물질, 유해가스, 고온 등 유해요인]


            ---


            ## 3. 안전조치사항


            ### 작업 전 준비사항

            - [ ] [아차사고 사례의 예방대책에서 도출]

            - [ ] [법규 조항에서 요구하는 점검사항]

            - [ ] [작업 허가서, 위험성평가 등]


            ### 작업 중 안전수칙

            - [ ] [아차사고 사례의 예방대책에서 도출]

            - [ ] [법규 조항에서 요구하는 준수사항]

            - [ ] [감시자 배치, 정기 점검 등]


            ### 작업 후 조치사항

            - [ ] [작업장 정리, 안전장치 복구 등]


            ---


            ## 4. 필수 안전보호구


            - [ ] 안전모

            - [ ] 안전화

            - [ ] 보안경/안면보호구

            - [ ] 보호장갑

            - [ ] [작업 특성에 따른 추가 보호구]


            ---


            ## 5. 관련 법규 준수사항


            ### [문서명] 제XX조 ([조제목])

            [해당 조항의 핵심 내용]


            ### [문서명] 제XX조 ([조제목])

            [해당 조항의 핵심 내용]


            ---


            ## 6. 아차사고 사례 및 예방대책


            ### 유사 사고 사례

            [아차사고 사례의 사고내용과 발생원인 요약]


            ### 재발방지 대책

            [아차사고 사례의 예방대책 명시]

            ```


            ## 작성 가이드


            - 사용자 질문에서 작업 정보 추출

            - 이미지가 제공된 경우, 이미지에서 작업 현장, 장비, 환경, 보호구 착용 상태 등을 분석하여 작업 개요, 위험요인, 안전조치사항에
            반영

            - 아차사고 사례의 재해유형, 발생원인, 예방대책 활용

            - 법규 조항은 각 조항별로 문서명, 조번호, 조제목과 핵심 내용을 매칭하여 작성

            - 구체적이고 실행 가능한 조치사항 작성

            - 발전소 특성(고온, 고압, 밀폐공간 등) 고려

            - 백틱은 응답에 절대 포함하지 않음'
        - role: user
          text: '<user_question>{{#1762408071150.query#}}</user_question>

            <산업안전보건법>{{#1762474040609_3_wwwiwbjhc.result#}}</산업안전보건법>

            <아차사고>{{#1762474045072_4_i397uufqd.result#}}</아차사고>'
        selected: false
        title: 작업 계획 생성(LLM)
        type: llm
        variables: []
        vision:
          configs:
            detail: low
            variable_selector:
            - '1762408071150'
            - image
          enabled: true
      id: 1762475687098_7_mriw8dgcy
      position:
        x: 1307.6477151518534
        y: 211.05927274887745
      type: custom
      zIndex: 1005
    - data:
        _connectedSourceHandleIds: []
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _runningStatus: none
        _showAddVariablePopup: true
        _waitingRun: false
        desc: ''
        outputs:
        - value_selector:
          - 1762475687098_7_mriw8dgcy
          - text
          variable: result
        - value_selector:
          - 1764849037101_1_py97y0ek5
          - text
          variable: report
        selected: false
        title: 종료
        type: end
      id: 1762475758616_8_hfqkowvbk
      position:
        x: 1689.1469578339702
        y: 408.47481626339334
      type: custom
      zIndex: 1005
    - data:
        _connectedSourceHandleIds:
        - source
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _showAddVariablePopup: true
        desc: ''
        provider_id: fileoutput
        provider_name: fileoutput
        provider_type: builtin
        selected: true
        title: FileOutput
        tool_configurations: {}
        tool_label: FileOutput
        tool_name: fileoutput
        tool_parameters:
          file_name:
            type: mixed
            value: report-{{#sys.workflow_run_id#}}.md
          output_text:
            type: mixed
            value: '{{#1762475687098_7_mriw8dgcy.text#}}'
        type: tool
      id: 1764849037101_1_py97y0ek5
      position:
        x: 1300.688999141063
        y: 406.16868085678243
      type: custom
      zIndex: 1005
    viewport:
      x: 99.34482477478218
      y: 27.332424738979043
      zoom: 0.6930741927343372
