templates/[REF]전기차 충전 VOC 데이터 정제 및 자동 분석 시스템.yml
app:
  description: '대량 데이터(CSV/Excel)를 행 단위로 병렬 처리하여 분류/태깅 후 정형 데이터로 변환하는 워크플로우입니다. 오염된
    raw data의 정제나 대량 분석이 필요할 때 선택하세요. 유사 케이스: 고객 문의 분류, 리뷰 감정 분석, VOC 태깅, 데이터 라벨링'
  icon: ''
  icon_background: ''
  mode: workflow
  name: '[REF]전기차 충전 VOC 데이터 정제 및 자동 분석 시스템'
  use_icon_as_answer_icon: false
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      image:
        enabled: false
      number_limits: 1
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - 시작
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: code
        targetType: iteration
      id: 1742191351768-source-1742191303540-target
      selected: false
      source: '1742191351768'
      sourceHandle: source
      target: '1742191303540'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: iteration-start
        targetType: code
      id: 1742191303540start-source-1742192342790-target
      selected: false
      source: 1742191303540start
      sourceHandle: source
      target: '1742192342790'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        sourceType: code
        targetType: llm
      id: 1742192342790-source-1742192364626-target
      selected: false
      source: '1742192342790'
      sourceHandle: source
      target: '1742192364626'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        sourceType: start
        targetType: document-extractor
      id: 1742187752497-source-1768290510369_1_39meyu3rs-target
      selected: false
      source: '1742187752497'
      sourceHandle: source
      target: 1768290510369_1_39meyu3rs
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: document-extractor
        targetType: code
      id: 1768290510369_1_39meyu3rs-source-1742191351768-target
      selected: false
      source: 1768290510369_1_39meyu3rs
      sourceHandle: source
      target: '1742191351768'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: iteration
        targetType: code
      id: 1742191303540-source-1768292141289_1_qihqr1rkp-target
      selected: false
      source: '1742191303540'
      sourceHandle: source
      target: 1768292141289_1_qihqr1rkp
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: code
        targetType: tool
      id: 1768292141289_1_qihqr1rkp-source-1768292607115_2_a10nvu4t2-target
      selected: false
      source: 1768292141289_1_qihqr1rkp
      sourceHandle: source
      target: 1768292607115_2_a10nvu4t2
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: tool
        targetType: end
      id: 1768292607115_2_a10nvu4t2-source-1768290912551_1_wluh0xhq6-target
      selected: false
      source: 1768292607115_2_a10nvu4t2
      sourceHandle: source
      target: 1768290912551_1_wluh0xhq6
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        _connectedSourceHandleIds:
        - source
        _connectedTargetHandleIds: []
        _inParallelHovering: false
        _isEntering: false
        _runningStatus: none
        _waitingRun: false
        desc: ''
        selected: false
        title: 시작
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: voc_data
          max_length: 1
          options: []
          required: true
          type: file
          variable: voc_data
      id: '1742187752497'
      position:
        x: -476.37284600030966
        y: 427.7555979749577
      type: custom
      zIndex: 1005
    - data:
        _children:
        - 1742191303540start
        - '1742192342790'
        - '1742192364626'
        _connectedSourceHandleIds:
        - source
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isCandidate: false
        _isEntering: false
        _isShowTips: false
        _iterationIndex: 14
        _iterationLength: 21
        _runningStatus: none
        _showAddVariablePopup: false
        _waitingRun: false
        desc: ''
        error_handle_mode: terminated
        height: 345
        is_parallel: true
        iterator_selector:
        - '1742191351768'
        - result
        output_selector:
        - '1742192364626'
        - text
        output_type: array[string]
        parallel_nums: 10
        selected: false
        start_node_id: 1742191303540start
        title: 반복
        type: iteration
        width: 670
      id: '1742191303540'
      position:
        x: 633.5558828307132
        y: 449.2563658133216
      type: custom
      zIndex: 1
    - data:
        _connectedSourceHandleIds:
        - source
        _connectedTargetHandleIds: []
        _inParallelHovering: false
        _isEntering: false
        _waitingRun: true
        desc: ''
        isInContainer: true
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      id: 1742191303540start
      parentId: '1742191303540'
      position:
        x: 24
        y: 68
      type: custom-iteration-start
      zIndex: 1002
    - data:
        _connectedSourceHandleIds:
        - source
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isCandidate: false
        _isEntering: false
        _runningStatus: none
        _showAddVariablePopup: false
        _waitingRun: false
        code: "import re\n\ndef main(voc_string) -> dict:\n    # 1. 입력값 전처리 (bytes\
          \ -> str)\n    if hasattr(voc_string, 'read'):\n        voc_string = voc_string.read()\n\
          \    if isinstance(voc_string, bytes):\n        voc_string = voc_string.decode('utf-8',\
          \ errors='ignore')\n    \n    text_data = voc_string.strip()\n    if not\
          \ text_data:\n        return {\"result\": []}\n\n    lines = text_data.split('\\\
          n')\n    \n    merged_rows = []\n    current_buffer = \"\"\n\n    # 구분선\
          \ 패턴 (예: |---| , |:---|, |---:| 등)\n    # 파이프(|), 하이픈(-), 콜론(:), 공백(\\s)으로만\
          \ 구성된 줄인지 확인\n    separator_pattern = re.compile(r'^\\|?[\\s\\-\\:|]+\\\
          |?$')\n\n    # 2. 행 병합 (Multiline 처리) 및 구분선 제거\n    for line in lines:\n\
          \        line = line.strip()\n        if not line:\n            continue\n\
          \            \n        # 구분선인지 정규식으로 확인 (헤더 바로 아래 구분선 제거)\n        # 내용에\
          \ 문자가 없고 기호로만 되어있으면 구분선으로 간주\n        if separator_pattern.match(line) and\
          \ set(line) & {'-'}:\n            continue\n\n        if current_buffer\
          \ == \"\":\n            current_buffer = line\n        else:\n         \
          \   current_buffer += \" \" + line # 개행 대신 공백으로 잇는 것이 일반적이나, 필요시 \"\\n\"\
          \ 유지\n\n        # 마크다운 테이블은 보통 파이프(|)로 끝납니다.\n        # 버퍼가 파이프로 끝나면 하나의\
          \ 행이 끝난 것으로 간주합니다.\n        if current_buffer.endswith('|'):\n         \
          \   merged_rows.append(current_buffer)\n            current_buffer = \"\"\
          \ \n\n    # 잔여 버퍼 처리 (파이프로 안 끝나는 마지막 줄이 있을 경우)\n    if current_buffer:\n\
          \        merged_rows.append(current_buffer)\n\n    # 3. 데이터 파싱\n    if not\
          \ merged_rows:\n        return {\"result\": []}\n\n    # 헬퍼 함수: 행을 파이프 기준으로\
          \ 안전하게 분리\n    def parse_row(row_str):\n        # 파이프로 분리\n        cells\
          \ = row_str.split('|')\n        \n        # 마크다운 테이블은 양쪽 끝이 파이프인 경우가 많아\
          \ \n        # split 결과의 첫번째와 마지막이 빈 문자열일 수 있음. 이를 제거.\n        if len(cells)\
          \ > 1 and cells[0].strip() == '':\n            cells = cells[1:]\n     \
          \   if len(cells) > 0 and cells[-1].strip() == '':\n            cells =\
          \ cells[:-1]\n            \n        return [c.strip() for c in cells]\n\n\
          \    # 헤더 추출\n    headers = parse_row(merged_rows[0])\n    \n    data_list\
          \ = []\n    \n    # 데이터 행 처리\n    for row_str in merged_rows[1:]:\n    \
          \    values = parse_row(row_str)\n        \n        # 헤더와 데이터 열 개수가 다를 경우에\
          \ 대한 방어 로직\n        # 1. 값이 없으면 빈 문자열 채움\n        # 2. 값이 더 많으면 헤더 개수만큼만\
          \ 자름 (혹은 별도 처리)\n        row_dict = {}\n        for i, header in enumerate(headers):\n\
          \            val = values[i] if i < len(values) else \"\"\n            row_dict[header]\
          \ = val\n            \n        data_list.append(row_dict)\n\n    return\
          \ {\n        \"result\": data_list,\n    }"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: array[object]
        selected: false
        title: 문서 변환
        type: code
        variables:
        - value_selector:
          - 1768290510369_1_39meyu3rs
          - text
          variable: voc_string
      id: '1742191351768'
      position:
        x: 281
        y: 449.2563658133216
      type: custom
      zIndex: 1005
    - data:
        _connectedSourceHandleIds:
        - source
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _showAddVariablePopup: true
        _waitingRun: true
        code: "def main(voc) -> dict:\n    \n    class_level1 = voc[\"상담유형(대)\"]\n\
          \    class_level2 = voc[\"상담유형(중)\"]\n    content = voc[\"상담내용\"]\n    \n\
          \    return {\n        \"class_level1\": class_level1,\n        \"class_level2\"\
          : class_level2,\n        \"content\": content,\n    }"
        code_language: python3
        desc: ''
        isInContainer: true
        isInIteration: true
        iteration_id: '1742191303540'
        outputs:
          class_level1:
            children: null
            type: string
          class_level2:
            children: null
            type: string
          content:
            children: null
            type: string
        selected: false
        title: 각 열 분해
        type: code
        variables:
        - value_selector:
          - '1742191303540'
          - item
          variable: voc
      id: '1742192342790'
      parentId: '1742191303540'
      position:
        x: 174.75042616329984
        y: 60.368426708754555
      type: custom
      zIndex: 1002
    - data:
        _connectedSourceHandleIds: []
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _showAddVariablePopup: true
        _waitingRun: true
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInContainer: true
        isInIteration: true
        iteration_id: '1742191303540'
        model:
          completion_params:
            max_tokens: 10000
            response_format: JSON
            temperature: 0.25
          mode: chat
          name: us.anthropic.claude-haiku-4-5-20251001-v1:0
          provider: bedrock
          registered_provider_id: 0a425836-2cdf-4f8d-98cf-0ef6d3779670
        prompt_template:
        - role: system
          text: "<ROLE>\n당신은 전기자동차 충전 플랫폼의 **데이터 정제 및 VOC(Voice of Customer) 분석 전문가**입니다.\n\
            입력된 데이터는 CSV 파싱 오류로 인해 하나의 상담 건이 여러 줄로 쪼개져 있거나, 내용이 잘못된 필드에 위치해 있습니다.\n\
            당신의 임무는 1) 데이터를 올바르게 복원하고, 2) 지정된 분류 기준에 따라 분석 데이터를 생성하여 정형화된 JSON 포맷으로\
            \ 변환하는 것입니다.\n</ROLE>\n\n<TASK>\n1. **데이터 복원 (Data Reconstruction)**:\n\
            \   - 리스트를 순회하며 파편화된 데이터를 하나의 상담 건으로 병합하십시오.\n   - **새로운 상담의 기준**: '상담유형(대)'\
            \ 값이 `['주문/결제/환불', '충전기 고장', '충전 문의', '회원/앱']` 중 하나인 경우.\n   - **내용 병합**:\
            \ 새로운 상담 건이 아닌 행(유형이 비어있거나, 내용이 잘려서 넘어온 텍스트 등)은 직전 상담 건의 '상담내용' 뒤에 이어\
            \ 붙이십시오. (줄바꿈 문자로 구분)\n\n2. **데이터 분석 (Data Analysis)**:\n   - 복원된 '상담내용'을\
            \ 기반으로 다음 3가지 항목을 분석하여 추가하십시오.\n   - **[A] 키워드 (Keywords)**: 반드시 하단 `<ALLOWED_KEYWORDS>`\
            \ 리스트에 있는 단어 중에서만 선택하십시오. (최대 3개, 리스트 외 단어 생성 금지)\n   - **[B] 유관 부서 (Department)**:\
            \ 상담 내용을 해결하거나 확인해야 하는 실무 부서를 `<DEPARTMENT_LOGIC>`에 따라 1개 선정하십시오.\n  \
            \ - **[C] 긴급도 (Urgency)**: 고객의 불편 정도와 조치의 시급성을 `<URGENCY_LEVELS>`에 따라\
            \ '상/중/하'로 판단하십시오.\n\n3. **출력 형식 (Output Format)**:\n   - 최종 결과는 반드시 **JSON\
            \ List** 형식이어야 합니다.\n</TASK>\n\n<ALLOWED_KEYWORDS>\n<!-- 아래 리스트에 있는 단어만\
            \ 사용해야 합니다 (대괄호 없음) -->\n충전불가, 커넥터분리불가, 화면멈춤/블랙아웃, 통신미연결, 기기파손, \n결제오류,\
            \ 이중출금, 환불요청, 회원가입오류, 로그인실패, 포인트/크레딧, \n앱사용문의, 충전기위치찾기, 요금문의, 설치/철거문의,\
            \ 단순불만, 기타문의\n</ALLOWED_KEYWORDS>\n\n<DEPARTMENT_LOGIC>\n- **현장운영팀**:\
            \ 충전기 하드웨어 고장, 파손, 커넥터 끼임, 현장 방문이 필요한 경우\n- **IT개발팀**: 앱(App) 버그, 서버 통신\
            \ 장애, 회원가입/로그인 등 시스템 오류\n- **정산관리팀**: 결제 취소, 환불, 카드 등록, 요금 오청구 관련\n- **CS지원팀**:\
            \ 단순 사용법 안내, 위치 안내, 해피콜, 일반 문의\n</DEPARTMENT_LOGIC>\n\n<URGENCY_LEVELS>\n\
            - **High (상)**: 즉시 해결되지 않으면 충전이 불가능하거나 안전상 위험이 있는 경우 (예: 커넥터 안 빠짐, 충전기\
            \ 전원 차단, 고객 고립, 격앙된 클레임)\n- **Medium (중)**: 서비스 이용에 불편이 있으나 대체 가능하거나,\
            \ 금전적 처리가 필요한 경우 (예: 결제 오류, 환불, 특정 기능 작동 안 함)\n- **Low (하)**: 단순 정보 조회,\
            \ 사용법 문의, 이력 확인 등 시급하지 않은 경우\n</URGENCY_LEVELS>\n\n<INPUT_DATA>\n{{INPUT_DATA}}\n\
            </INPUT_DATA>\n\n<OUTPUT_EXAMPLE>\n[\n  {\n    \"상담유형_대\": \"충전기 고장\"\
            ,\n    \"상담유형_중\": \"충전기/통신/서버장애\",\n    \"상담내용\": \"슈퍼노블랜드연리지 7차 31733\\\
            n어플에서 충전기 번호 조회안됨\\n상담사 시도시 정상조회되나 고객 앱에서는 계속 로딩만 걸림\",\n    \"키워드\":\
            \ \"앱사용문의, 통신미연결\",\n    \"유관부서\": \"IT개발팀\",\n    \"긴급도\": \"Medium\"\
            \n  },\n  {\n    \"상담유형_대\": \"주문/결제/환불\",\n    \"상담유형_중\": \"결제오류\",\n\
            \    \"상담내용\": \"차량에서 커넥터가 분리되지 않아서 출발을 못하고 있음.\\n강제 해제 버튼도 작동 안 함. 빠른\
            \ 조치 요망.\",\n    \"키워드\": \"커넥터분리불가\",\n    \"유관부서\": \"현장운영팀\",\n   \
            \ \"긴급도\": \"High\"\n  }\n]\n</OUTPUT_EXAMPLE>\n\nResult (JSON only):"
        - role: user
          text: '<CONTEXT>

            - 상담유형(대): {{#1742192342790.class_level1#}}

            - 상담유형(중): {{#1742192342790.class_level2#}}

            - 상담내용: {{#1742192342790.content#}}

            <CONTEXT>'
        selected: false
        title: 키워드 추출 LLM
        type: llm
        variables: []
        vision:
          enabled: false
      id: '1742192364626'
      parentId: '1742191303540'
      position:
        x: 178.45163231649974
        y: 159.75042616329972
      type: custom
      zIndex: 1002
    - data:
        _connectedSourceHandleIds: []
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _showAddVariablePopup: true
        _waitingRun: true
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInContainer: true
        isInIteration: true
        iteration_id: '1742191303540'
        model:
          completion_params:
            max_tokens: 10000
            response_format: JSON
            temperature: 0.25
          mode: chat
          name: us.anthropic.claude-haiku-4-5-20251001-v1:0
          provider: bedrock
          registered_provider_id: 0a425836-2cdf-4f8d-98cf-0ef6d3779670
        prompt_template:
        - role: system
          text: "<ROLE>\n당신은 전기자동차 충전 플랫폼의 **데이터 정제 및 VOC(Voice of Customer) 분석 전문가**입니다.\n\
            입력된 데이터는 CSV 파싱 오류로 인해 하나의 상담 건이 여러 줄로 쪼개져 있거나, 내용이 잘못된 필드에 위치해 있습니다.\n\
            당신의 임무는 1) 데이터를 올바르게 복원하고, 2) 지정된 분류 기준에 따라 분석 데이터를 생성하여 정형화된 JSON 포맷으로\
            \ 변환하는 것입니다.\n</ROLE>\n\n<TASK>\n1. **데이터 복원 (Data Reconstruction)**:\n\
            \   - 리스트를 순회하며 파편화된 데이터를 하나의 상담 건으로 병합하십시오.\n   - **새로운 상담의 기준**: '상담유형(대)'\
            \ 값이 `['주문/결제/환불', '충전기 고장', '충전 문의', '회원/앱']` 중 하나인 경우.\n   - **내용 병합**:\
            \ 새로운 상담 건이 아닌 행(유형이 비어있거나, 내용이 잘려서 넘어온 텍스트 등)은 직전 상담 건의 '상담내용' 뒤에 이어\
            \ 붙이십시오. (줄바꿈 문자로 구분)\n\n2. **데이터 분석 (Data Analysis)**:\n   - 복원된 '상담내용'을\
            \ 기반으로 다음 3가지 항목을 분석하여 추가하십시오.\n   - **[A] 키워드 (Keywords)**: 반드시 하단 `<ALLOWED_KEYWORDS>`\
            \ 리스트에 있는 단어 중에서만 선택하십시오. (최대 3개, 리스트 외 단어 생성 금지)\n   - **[B] 유관 부서 (Department)**:\
            \ 상담 내용을 해결하거나 확인해야 하는 실무 부서를 `<DEPARTMENT_LOGIC>`에 따라 1개 선정하십시오.\n  \
            \ - **[C] 긴급도 (Urgency)**: 고객의 불편 정도와 조치의 시급성을 `<URGENCY_LEVELS>`에 따라\
            \ '상/중/하'로 판단하십시오.\n\n3. **출력 형식 (Output Format)**:\n   - 최종 결과는 반드시 **JSON\
            \ List** 형식이어야 합니다.\n</TASK>\n\n<ALLOWED_KEYWORDS>\n<!-- 아래 리스트에 있는 단어만\
            \ 사용해야 합니다 (대괄호 없음) -->\n충전불가, 커넥터분리불가, 화면멈춤/블랙아웃, 통신미연결, 기기파손, \n결제오류,\
            \ 이중출금, 환불요청, 회원가입오류, 로그인실패, 포인트/크레딧, \n앱사용문의, 충전기위치찾기, 요금문의, 설치/철거문의,\
            \ 단순불만, 기타문의\n</ALLOWED_KEYWORDS>\n\n<DEPARTMENT_LOGIC>\n- **현장운영팀**:\
            \ 충전기 하드웨어 고장, 파손, 커넥터 끼임, 현장 방문이 필요한 경우\n- **IT개발팀**: 앱(App) 버그, 서버 통신\
            \ 장애, 회원가입/로그인 등 시스템 오류\n- **정산관리팀**: 결제 취소, 환불, 카드 등록, 요금 오청구 관련\n- **CS지원팀**:\
            \ 단순 사용법 안내, 위치 안내, 해피콜, 일반 문의\n</DEPARTMENT_LOGIC>\n\n<URGENCY_LEVELS>\n\
            - **High (상)**: 즉시 해결되지 않으면 충전이 불가능하거나 안전상 위험이 있는 경우 (예: 커넥터 안 빠짐, 충전기\
            \ 전원 차단, 고객 고립, 격앙된 클레임)\n- **Medium (중)**: 서비스 이용에 불편이 있으나 대체 가능하거나,\
            \ 금전적 처리가 필요한 경우 (예: 결제 오류, 환불, 특정 기능 작동 안 함)\n- **Low (하)**: 단순 정보 조회,\
            \ 사용법 문의, 이력 확인 등 시급하지 않은 경우\n</URGENCY_LEVELS>\n\n<INPUT_DATA>\n{{INPUT_DATA}}\n\
            </INPUT_DATA>\n\n<OUTPUT_EXAMPLE>\n[\n  {\n    \"상담유형_대\": \"충전기 고장\"\
            ,\n    \"상담유형_중\": \"충전기/통신/서버장애\",\n    \"상담내용\": \"슈퍼노블랜드연리지 7차 31733\\\
            n어플에서 충전기 번호 조회안됨\\n상담사 시도시 정상조회되나 고객 앱에서는 계속 로딩만 걸림\",\n    \"키워드\":\
            \ \"앱사용문의, 통신미연결\",\n    \"유관부서\": \"IT개발팀\",\n    \"긴급도\": \"Medium\"\
            \n  },\n  {\n    \"상담유형_대\": \"주문/결제/환불\",\n    \"상담유형_중\": \"결제오류\",\n\
            \    \"상담내용\": \"차량에서 커넥터가 분리되지 않아서 출발을 못하고 있음.\\n강제 해제 버튼도 작동 안 함. 빠른\
            \ 조치 요망.\",\n    \"키워드\": \"커넥터분리불가\",\n    \"유관부서\": \"현장운영팀\",\n   \
            \ \"긴급도\": \"High\"\n  }\n]\n</OUTPUT_EXAMPLE>\n\nResult (JSON only):"
        - role: user
          text: '<CONTEXT>

            - 상담유형(대): {{#1742192342790.class_level1#}}

            - 상담유형(중): {{#1742192342790.class_level2#}}

            - 상담내용: {{#1742192342790.content#}}

            <CONTEXT>'
        selected: false
        title: 키워드 추출 LLM
        type: llm
        variables: []
        vision:
          enabled: false
      id: '1742192364626'
      parentId: '1742191303540'
      position:
        x: 178.45163231649974
        y: 159.75042616329972
      type: custom
      zIndex: 1002
    - data:
        _connectedSourceHandleIds: []
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _showAddVariablePopup: true
        _waitingRun: true
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInContainer: true
        isInIteration: true
        iteration_id: '1742191303540'
        model:
          completion_params:
            max_tokens: 10000
            response_format: JSON
            temperature: 0.25
          mode: chat
          name: us.anthropic.claude-haiku-4-5-20251001-v1:0
          provider: bedrock
          registered_provider_id: 0a425836-2cdf-4f8d-98cf-0ef6d3779670
        prompt_template:
        - role: system
          text: "<ROLE>\n당신은 전기자동차 충전 플랫폼의 **데이터 정제 및 VOC(Voice of Customer) 분석 전문가**입니다.\n\
            입력된 데이터는 CSV 파싱 오류로 인해 하나의 상담 건이 여러 줄로 쪼개져 있거나, 내용이 잘못된 필드에 위치해 있습니다.\n\
            당신의 임무는 1) 데이터를 올바르게 복원하고, 2) 지정된 분류 기준에 따라 분석 데이터를 생성하여 정형화된 JSON 포맷으로\
            \ 변환하는 것입니다.\n</ROLE>\n\n<TASK>\n1. **데이터 복원 (Data Reconstruction)**:\n\
            \   - 리스트를 순회하며 파편화된 데이터를 하나의 상담 건으로 병합하십시오.\n   - **새로운 상담의 기준**: '상담유형(대)'\
            \ 값이 `['주문/결제/환불', '충전기 고장', '충전 문의', '회원/앱']` 중 하나인 경우.\n   - **내용 병합**:\
            \ 새로운 상담 건이 아닌 행(유형이 비어있거나, 내용이 잘려서 넘어온 텍스트 등)은 직전 상담 건의 '상담내용' 뒤에 이어\
            \ 붙이십시오. (줄바꿈 문자로 구분)\n\n2. **데이터 분석 (Data Analysis)**:\n   - 복원된 '상담내용'을\
            \ 기반으로 다음 3가지 항목을 분석하여 추가하십시오.\n   - **[A] 키워드 (Keywords)**: 반드시 하단 `<ALLOWED_KEYWORDS>`\
            \ 리스트에 있는 단어 중에서만 선택하십시오. (최대 3개, 리스트 외 단어 생성 금지)\n   - **[B] 유관 부서 (Department)**:\
            \ 상담 내용을 해결하거나 확인해야 하는 실무 부서를 `<DEPARTMENT_LOGIC>`에 따라 1개 선정하십시오.\n  \
            \ - **[C] 긴급도 (Urgency)**: 고객의 불편 정도와 조치의 시급성을 `<URGENCY_LEVELS>`에 따라\
            \ '상/중/하'로 판단하십시오.\n\n3. **출력 형식 (Output Format)**:\n   - 최종 결과는 반드시 **JSON\
            \ List** 형식이어야 합니다.\n</TASK>\n\n<ALLOWED_KEYWORDS>\n<!-- 아래 리스트에 있는 단어만\
            \ 사용해야 합니다 (대괄호 없음) -->\n충전불가, 커넥터분리불가, 화면멈춤/블랙아웃, 통신미연결, 기기파손, \n결제오류,\
            \ 이중출금, 환불요청, 회원가입오류, 로그인실패, 포인트/크레딧, \n앱사용문의, 충전기위치찾기, 요금문의, 설치/철거문의,\
            \ 단순불만, 기타문의\n</ALLOWED_KEYWORDS>\n\n<DEPARTMENT_LOGIC>\n- **현장운영팀**:\
            \ 충전기 하드웨어 고장, 파손, 커넥터 끼임, 현장 방문이 필요한 경우\n- **IT개발팀**: 앱(App) 버그, 서버 통신\
            \ 장애, 회원가입/로그인 등 시스템 오류\n- **정산관리팀**: 결제 취소, 환불, 카드 등록, 요금 오청구 관련\n- **CS지원팀**:\
            \ 단순 사용법 안내, 위치 안내, 해피콜, 일반 문의\n</DEPARTMENT_LOGIC>\n\n<URGENCY_LEVELS>\n\
            - **High (상)**: 즉시 해결되지 않으면 충전이 불가능하거나 안전상 위험이 있는 경우 (예: 커넥터 안 빠짐, 충전기\
            \ 전원 차단, 고객 고립, 격앙된 클레임)\n- **Medium (중)**: 서비스 이용에 불편이 있으나 대체 가능하거나,\
            \ 금전적 처리가 필요한 경우 (예: 결제 오류, 환불, 특정 기능 작동 안 함)\n- **Low (하)**: 단순 정보 조회,\
            \ 사용법 문의, 이력 확인 등 시급하지 않은 경우\n</URGENCY_LEVELS>\n\n<INPUT_DATA>\n{{INPUT_DATA}}\n\
            </INPUT_DATA>\n\n<OUTPUT_EXAMPLE>\n[\n  {\n    \"상담유형_대\": \"충전기 고장\"\
            ,\n    \"상담유형_중\": \"충전기/통신/서버장애\",\n    \"상담내용\": \"슈퍼노블랜드연리지 7차 31733\\\
            n어플에서 충전기 번호 조회안됨\\n상담사 시도시 정상조회되나 고객 앱에서는 계속 로딩만 걸림\",\n    \"키워드\":\
            \ \"앱사용문의, 통신미연결\",\n    \"유관부서\": \"IT개발팀\",\n    \"긴급도\": \"Medium\"\
            \n  },\n  {\n    \"상담유형_대\": \"주문/결제/환불\",\n    \"상담유형_중\": \"결제오류\",\n\
            \    \"상담내용\": \"차량에서 커넥터가 분리되지 않아서 출발을 못하고 있음.\\n강제 해제 버튼도 작동 안 함. 빠른\
            \ 조치 요망.\",\n    \"키워드\": \"커넥터분리불가\",\n    \"유관부서\": \"현장운영팀\",\n   \
            \ \"긴급도\": \"High\"\n  }\n]\n</OUTPUT_EXAMPLE>\n\nResult (JSON only):"
        - role: user
          text: '<CONTEXT>

            - 상담유형(대): {{#1742192342790.class_level1#}}

            - 상담유형(중): {{#1742192342790.class_level2#}}

            - 상담내용: {{#1742192342790.content#}}

            <CONTEXT>'
        selected: false
        title: 키워드 추출 LLM
        type: llm
        variables: []
        vision:
          enabled: false
      id: '1742192364626'
      parentId: '1742191303540'
      position:
        x: 178.45163231649974
        y: 159.75042616329972
      type: custom
      zIndex: 1002
    - data:
        _connectedSourceHandleIds: []
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _showAddVariablePopup: true
        _waitingRun: true
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInContainer: true
        isInIteration: true
        iteration_id: '1742191303540'
        model:
          completion_params:
            max_tokens: 10000
            response_format: JSON
            temperature: 0.25
          mode: chat
          name: us.anthropic.claude-haiku-4-5-20251001-v1:0
          provider: bedrock
          registered_provider_id: 0a425836-2cdf-4f8d-98cf-0ef6d3779670
        prompt_template:
        - role: system
          text: "<ROLE>\n당신은 전기자동차 충전 플랫폼의 **데이터 정제 및 VOC(Voice of Customer) 분석 전문가**입니다.\n\
            입력된 데이터는 CSV 파싱 오류로 인해 하나의 상담 건이 여러 줄로 쪼개져 있거나, 내용이 잘못된 필드에 위치해 있습니다.\n\
            당신의 임무는 1) 데이터를 올바르게 복원하고, 2) 지정된 분류 기준에 따라 분석 데이터를 생성하여 정형화된 JSON 포맷으로\
            \ 변환하는 것입니다.\n</ROLE>\n\n<TASK>\n1. **데이터 복원 (Data Reconstruction)**:\n\
            \   - 리스트를 순회하며 파편화된 데이터를 하나의 상담 건으로 병합하십시오.\n   - **새로운 상담의 기준**: '상담유형(대)'\
            \ 값이 `['주문/결제/환불', '충전기 고장', '충전 문의', '회원/앱']` 중 하나인 경우.\n   - **내용 병합**:\
            \ 새로운 상담 건이 아닌 행(유형이 비어있거나, 내용이 잘려서 넘어온 텍스트 등)은 직전 상담 건의 '상담내용' 뒤에 이어\
            \ 붙이십시오. (줄바꿈 문자로 구분)\n\n2. **데이터 분석 (Data Analysis)**:\n   - 복원된 '상담내용'을\
            \ 기반으로 다음 3가지 항목을 분석하여 추가하십시오.\n   - **[A] 키워드 (Keywords)**: 반드시 하단 `<ALLOWED_KEYWORDS>`\
            \ 리스트에 있는 단어 중에서만 선택하십시오. (최대 3개, 리스트 외 단어 생성 금지)\n   - **[B] 유관 부서 (Department)**:\
            \ 상담 내용을 해결하거나 확인해야 하는 실무 부서를 `<DEPARTMENT_LOGIC>`에 따라 1개 선정하십시오.\n  \
            \ - **[C] 긴급도 (Urgency)**: 고객의 불편 정도와 조치의 시급성을 `<URGENCY_LEVELS>`에 따라\
            \ '상/중/하'로 판단하십시오.\n\n3. **출력 형식 (Output Format)**:\n   - 최종 결과는 반드시 **JSON\
            \ List** 형식이어야 합니다.\n</TASK>\n\n<ALLOWED_KEYWORDS>\n<!-- 아래 리스트에 있는 단어만\
            \ 사용해야 합니다 (대괄호 없음) -->\n충전불가, 커넥터분리불가, 화면멈춤/블랙아웃, 통신미연결, 기기파손, \n결제오류,\
            \ 이중출금, 환불요청, 회원가입오류, 로그인실패, 포인트/크레딧, \n앱사용문의, 충전기위치찾기, 요금문의, 설치/철거문의,\
            \ 단순불만, 기타문의\n</ALLOWED_KEYWORDS>\n\n<DEPARTMENT_LOGIC>\n- **현장운영팀**:\
            \ 충전기 하드웨어 고장, 파손, 커넥터 끼임, 현장 방문이 필요한 경우\n- **IT개발팀**: 앱(App) 버그, 서버 통신\
            \ 장애, 회원가입/로그인 등 시스템 오류\n- **정산관리팀**: 결제 취소, 환불, 카드 등록, 요금 오청구 관련\n- **CS지원팀**:\
            \ 단순 사용법 안내, 위치 안내, 해피콜, 일반 문의\n</DEPARTMENT_LOGIC>\n\n<URGENCY_LEVELS>\n\
            - **High (상)**: 즉시 해결되지 않으면 충전이 불가능하거나 안전상 위험이 있는 경우 (예: 커넥터 안 빠짐, 충전기\
            \ 전원 차단, 고객 고립, 격앙된 클레임)\n- **Medium (중)**: 서비스 이용에 불편이 있으나 대체 가능하거나,\
            \ 금전적 처리가 필요한 경우 (예: 결제 오류, 환불, 특정 기능 작동 안 함)\n- **Low (하)**: 단순 정보 조회,\
            \ 사용법 문의, 이력 확인 등 시급하지 않은 경우\n</URGENCY_LEVELS>\n\n<INPUT_DATA>\n{{INPUT_DATA}}\n\
            </INPUT_DATA>\n\n<OUTPUT_EXAMPLE>\n[\n  {\n    \"상담유형_대\": \"충전기 고장\"\
            ,\n    \"상담유형_중\": \"충전기/통신/서버장애\",\n    \"상담내용\": \"슈퍼노블랜드연리지 7차 31733\\\
            n어플에서 충전기 번호 조회안됨\\n상담사 시도시 정상조회되나 고객 앱에서는 계속 로딩만 걸림\",\n    \"키워드\":\
            \ \"앱사용문의, 통신미연결\",\n    \"유관부서\": \"IT개발팀\",\n    \"긴급도\": \"Medium\"\
            \n  },\n  {\n    \"상담유형_대\": \"주문/결제/환불\",\n    \"상담유형_중\": \"결제오류\",\n\
            \    \"상담내용\": \"차량에서 커넥터가 분리되지 않아서 출발을 못하고 있음.\\n강제 해제 버튼도 작동 안 함. 빠른\
            \ 조치 요망.\",\n    \"키워드\": \"커넥터분리불가\",\n    \"유관부서\": \"현장운영팀\",\n   \
            \ \"긴급도\": \"High\"\n  }\n]\n</OUTPUT_EXAMPLE>\n\nResult (JSON only):"
        - role: user
          text: '<CONTEXT>

            - 상담유형(대): {{#1742192342790.class_level1#}}

            - 상담유형(중): {{#1742192342790.class_level2#}}

            - 상담내용: {{#1742192342790.content#}}

            <CONTEXT>'
        selected: false
        title: 키워드 추출 LLM
        type: llm
        variables: []
        vision:
          enabled: false
      id: '1742192364626'
      parentId: '1742191303540'
      position:
        x: 178.45163231649974
        y: 159.75042616329972
      type: custom
      zIndex: 1002
    - data:
        _connectedSourceHandleIds:
        - source
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _runningStatus: none
        _showAddVariablePopup: true
        _waitingRun: false
        desc: ''
        is_array_file: false
        selected: false
        title: 문서 추출기
        type: document-extractor
        variable_selector:
        - '1742187752497'
        - voc_data
      id: 1768290510369_1_39meyu3rs
      position:
        x: -84.08607656534623
        y: 435.1232444300688
      type: custom
      zIndex: 1005
    - data:
        _connectedSourceHandleIds: []
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _showAddVariablePopup: true
        _waitingRun: false
        desc: ''
        outputs:
        - value_selector:
          - 1768292607115_2_a10nvu4t2
          - text
          variable: result
        selected: false
        title: 종료
        type: end
      id: 1768290912551_1_wluh0xhq6
      position:
        x: 2130.499867884639
        y: 579.6044110160299
      type: custom
      zIndex: 1005
    - data:
        _connectedSourceHandleIds:
        - source
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _showAddVariablePopup: true
        _waitingRun: false
        code: "import json\nimport csv\nimport io\nimport re\n\ndef main(input_data)\
          \ -> dict:\n    raw_outputs = []\n    \n    if isinstance(input_data, dict):\n\
          \        raw_outputs = input_data.get(\"input_data\") or input_data.get(\"\
          output\") or []\n        \n        if not raw_outputs and input_data:\n\
          \            for val in input_data.values():\n                if isinstance(val,\
          \ list):\n                    raw_outputs = val\n                    break\n\
          \                    \n    elif isinstance(input_data, list):\n        raw_outputs\
          \ = input_data\n    \n    if not raw_outputs:\n        return {\"result\"\
          : \"\"}\n\n    all_records = []\n\n    for raw_text in raw_outputs:\n  \
          \      if isinstance(raw_text, (dict, list)):\n            if isinstance(raw_text,\
          \ list):\n                all_records.extend(raw_text)\n            else:\n\
          \                all_records.append(raw_text)\n            continue\n  \
          \          \n        if not isinstance(raw_text, str):\n            continue\n\
          \            \n        try:\n            json_match = re.search(r\"```json\\\
          s*(.*?)\\s*```\", raw_text, re.DOTALL)\n            \n            json_str\
          \ = \"\"\n            if json_match:\n                json_str = json_match.group(1)\n\
          \            else:\n                list_match = re.search(r\"(\\[.*\\])\"\
          , raw_text, re.DOTALL)\n                if list_match:\n               \
          \     json_str = list_match.group(1)\n                else:\n          \
          \          dict_match = re.search(r\"(\\{.*\\})\", raw_text, re.DOTALL)\n\
          \                    if dict_match:\n                        json_str =\
          \ dict_match.group(1)\n            \n            if json_str:\n        \
          \        parsed_data = json.loads(json_str)\n                \n        \
          \        if isinstance(parsed_data, list):\n                    all_records.extend(parsed_data)\n\
          \                elif isinstance(parsed_data, dict):\n                 \
          \   all_records.append(parsed_data)\n                    \n        except\
          \ Exception:\n            continue\n\n    if not all_records:\n        return\
          \ {\"result\": \"\"}\n\n    headers = {}\n    for record in all_records:\n\
          \        if isinstance(record, dict):\n            for key in record.keys():\n\
          \                headers[key] = True\n    \n    fieldnames = list(headers.keys())\n\
          \    \n    output_io = io.StringIO()\n    writer = csv.DictWriter(output_io,\
          \ fieldnames=fieldnames)\n    \n    writer.writeheader()\n    \n    for\
          \ record in all_records:\n        if isinstance(record, dict):\n       \
          \     writer.writerow(record)\n        \n    csv_string = output_io.getvalue()\n\
          \    output_io.close()\n\n    return {\n        \"result\": csv_string\n\
          \    }"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: csv 형식 변환
        type: code
        variables:
        - value_selector:
          - '1742191303540'
          - output
          variable: input_data
      id: 1768292141289_1_qihqr1rkp
      position:
        x: 1372.1420132936148
        y: 589.8314906974626
      type: custom
      zIndex: 1005
    - data:
        _connectedSourceHandleIds:
        - source
        _connectedTargetHandleIds:
        - target
        _holdAddVariablePopup: false
        _inParallelHovering: false
        _isEntering: false
        _showAddVariablePopup: true
        _waitingRun: false
        desc: ''
        provider_id: fileoutput
        provider_name: fileoutput
        provider_type: builtin
        selected: false
        title: FileOutput
        tool_configurations: {}
        tool_label: FileOutput
        tool_name: fileoutput
        tool_parameters:
          file_name:
            type: mixed
            value: '{{#1742187752497.voc_data.name#}}_분석 결과.csv'
          output_text:
            type: mixed
            value: '{{#1768292141289_1_qihqr1rkp.result#}}'
        type: tool
      id: 1768292607115_2_a10nvu4t2
      position:
        x: 1747.7386456942813
        y: 559.7953231695437
      type: custom
      zIndex: 1005
    viewport:
      x: 297.2962227511526
      y: -135.71879009498844
      zoom: 0.6901586720113653
